[2018-09-20 22:17] CommanderOtto opened #1 "Thanks!"
Writing in the Issue tab... but I actually just wanted to thank you for the Countries and States database. Obviously a lot of research/work went into it, so... Thanks!

[2018-09-21 01:13] CommanderOtto commented on #1
I do have a question though... what exactly is the field Countrycode in the countries table?

[2019-01-21 17:42] PrimordialHelios opened #2 "Missing US cities"
I noticed that the United States is missing a list of cities. Is there any chance you'll add them? If not, would you be able to recommend somewhere I could easily get a list to programmatically add to the list?

[2019-01-23 06:11] dr5hn commented on #2
Thanks for heads up on that.
Yes, i will add them. With that need your little bit of help to find out which cities are missing.

Here are some links having all states & cities of US. can you please verify and let me know which one is correct, complete & perfect. so that i will incorporate the updates in this repo.

https://gist.github.com/Lwdthe1/81818d30d23f012628aac1cdf672627d
https://github.com

[2019-01-23 21:46] PrimordialHelios commented on #2
Awesome, thanks!

I'm not sure if it's perfect, but [this one](https://github.com/cschoi3/US-states-and-cities-json/blob/master/data.json) certainly is the most complete out of the four you linked.

[2019-01-25 06:19] dr5hn commented on #2
@PrimordialHelios Done. Updated.

Please verify it once. So that i can close this issue.

[2019-01-26 00:45] PrimordialHelios commented on #2
Looks good! Thanks so much for the help!

[2019-01-26 00:45] #2 closed

[2019-02-01 22:23] ZigZapps opened #3 "Add abbreviations to states and adding zip/postal codes"
First of, I'd like to thank you for this great list. it would be great to add states abbreviations as well as postal/zip codes for each city if applicable. I know the list will grow big, but it can be handled through bunch of API calls to size it down.

[2019-02-04 18:43] dr5hn commented on #3
@ZigZapps Appreciate your suggestions.
I can assure you about the state abbreviations. but it will be little difficult to add postal/zip codes.
Anyways, i will try my best to integrate your suggestions ASAP.

Thanks.

[2019-02-14 13:41] macsobczyk opened #4 "England?"

[2019-02-14 13:43] macsobczyk commented on #4
Check the cities and states belonging to country number 232 (UK). There's Manchester, London, Edinburgh and other famous big cities of England but all of them belong to United States (country number 233) or others.

[2019-02-15 05:09] dr5hn commented on #4
@macsobczyk ok will look in to it.

[2019-02-15 19:27] ZigZapps opened #5 "Cities lists are incorrect"
I've noticed that there are plenty of cities are incorrect, lots of duplicated and added from other countries just check the json file for: "Zirakpur" for example.

[2019-02-15 19:41] ZigZapps commented on #5
I just found another incorrect/duplicated cities. the list has lots of incorrect data. please fix the issue.. Thanks

[2019-02-15 19:46] ZigZapps commented on #5
please bear in mind these issues are with the exported json files

[2019-02-18 18:57] PrimordialHelios commented on #5
I recently noticed this too. I'll try and go through today and figure out which cities are wrong.

[2019-02-19 00:09] ZigZapps commented on #5
I think the cities in the DB tables are correct, but the exported json files have incorrect data.

[2019-02-19 05:27] dr5hn commented on #5
@PrimordialHelios @ZigZapps
Appreciate your research into library. Will also take a look to make table and jsons synchronized correctly.

[2019-02-27 13:16] robinlolo opened #7 "Kosovo is missing"
I believe Kosovo is missing?

[2019-02-28 09:26] nifrasismail opened #8 "Regarding Sri Lanka the dataset is wrong"
Regarding Sri Lanka the dataset is wrong

[2019-04-12 09:24] iamramizansari opened #10 "No Data about Pakistan."
No Data is available about "Pakistan".
Wrong List.

[2019-04-15 05:55] Mottie opened #11 "Missing Lexington, Kentucky"
Pretty much every list of U.S. cities & states I've found on GitHub is missing [Lexington, Kentucky](https://goo.gl/maps/4SyoCAMBU822).

In your data base, the main data file https://github.com/dr5hn/countries-states-cities-database/blob/master/PHP_Scripts/data/us-cities.json#L335 needs to be updated. There's an empty string where Lexington should be listed:

[code]

[2019-04-16 19:31] dr5hn commented on #7
https://github.com/dr5hn/countries-states-cities-database/commit/2feb652f19906b8c36a58198a423b072932bc941

Done.
Added Kosovo State & Belonging Cities. All city names are encoded with utf8-unicode.

[2019-04-16 19:31] #7 closed

[2019-04-16 19:46] dr5hn commented on #5
@PrimordialHelios @ZigZapps

I figured out the issue. The issue was in my JSON exporting PHP script.
https://github.com/dr5hn/countries-states-cities-database/commit/ce2cbbe1365bcd322d4f4fabc2ad52c77117d725
https://github.com/dr5hn/countries-states-cities-database/commit/f3063bccdf9ac76293dd144f3c677220c0dfb928

Removed Duplicates & Rectified JSONs updated.

Appreciate your efforts. Thanks.

[2019-04-16 19:46] #5 closed

[2019-04-16 20:00] dr5hn commented on #11
@Mottie Done. Added.
https://github.com/dr5hn/countries-states-cities-database/commit/fde09ad7d5e4ff2276c640f36aa38e3dd3928570

Thanks for heads up on that. Appreciate your efforts.

[2019-04-16 20:00] #11 closed

[2019-04-21 13:42] dr5hn opened #12 "Pending Integration of all Romanian Cities into DB"
Thanks @tudoranghelina91 , Appreciate your contribution.

[2019-05-10 00:46] mohamedJemmal opened #13 "Morocco Cities issue"
For Morocco the region was correct but the cities doesn't

[2019-05-26 03:06] second-2None opened #14 "Wrong States with Australia"
The states table contains results for Australia, country ID 14, that are not present in Australia. Will send through an update shortly

[2019-06-17 05:32] DhanshreeA commented on #14
@dr5hn

[2019-06-26 17:12] paulpierre commented on #5
Cities are still wrong, there are Italian cities duplicated in multiple countries in the JSON file, about 843 of them. Please look at how often "Acquaviva delle Fonti" repeats for example in the states of Korea "Kyeongsangbuk" it is repeated
![Screen Shot 2019-06-26 at 1 12 30 PM](https://user-images.githubusercontent.com/142327/60200380-027c9e00-9814-11e9-9744-ed77162b517e.png)

[2019-07-29 17:36] paulpierre opened #15 "Cities list STILL incorrect"
Cities are still wrong, there are Italian cities duplicated in multiple countries in the JSON file, about 843 of them. Please look at how often "Acquaviva delle Fonti" repeats for example in the states of Korea "Kyeongsangbuk" it is repeated
![60200380-027c9e00-9814-11e9-9744-ed77162b517e](https://user-images.githubusercontent.com/142327/62069295-ebabdb80-b205-11e9-931e-7167c949419e.png)

[2019-07-30 12:09] binoyudayan opened #16 "Duplicate state names for Germany"
1. There two states named **Rheinland-Pfalz** and [**Rhineland-Palatinate**](https://en.wikipedia.org/wiki/Rhineland-Palatinate), actually both are same state. One is German name and other one is English name. And the cities belongs to both are different, but it can be included in any one of them(I have done a random check in google maps).
2. Also [Niederwerth](https://www.google.com/maps/place/56

[2019-07-31 14:11] schalkventer opened #17 "All South African states have the same non-SA cities listed in them."

[2019-07-31 17:30] dr5hn commented on #17
@schalkventer I am working on all cities fixes. You will soon see the updates.

[2019-07-31 17:30] dr5hn commented on #16
@binoyudayan Thanks for debugging. Will fix it asap.

[2019-07-31 17:31] dr5hn commented on #15
@paulpierre Ok got it. Will fix this sooner.

[2019-07-31 17:31] dr5hn commented on #14
@DhanshreeA @second-2None You'll see this fixes very soon.

[2019-07-31 17:31] dr5hn commented on #13
@mohamedJemmal Will fix this up asap.

[2019-08-30 11:31] manuelricci opened #19 "Italian cities are duplicated or incorrect"
Hi, there are several errors with italian regions and cities. For example: Milan is not a region, but a city and Lombardia and Lombardy are the same things.

[2019-09-12 16:20] jjwalker80j opened #20 "Missing Cities in Spain"
Missing cities like Sitges in Spain (which is one of the most popular cities)

[2019-09-16 02:31] viper2kx opened #21 "Skipped a Step"
I uploaded this and began to play with it. Since I live in the United States, I see all 50 states and a few of the U.S. Territories, but I am also seeing cities such as Byram in Mississippi and Trimble in Missouri, and other cities before selecting the proper state.

[2019-09-21 14:34] dr5hn commented on #21
@viper2kx I am going to fix all the cities related issues by next week... I am working on it..

[2019-09-21 14:35] dr5hn commented on #20
Yeah.. I know there are many issues with cities.. I working on it.. will fix them up by next week.

[2019-09-21 14:36] dr5hn commented on #19
@manuelricci I know there are lot of issues with cities.. I am working on it to fix it up.. Will push final updates by next week.

[2019-09-23 09:30] jordantsap opened #22 "How to add fields?"
Lets say that i also want a slug field, how to do so?
Any help??

[2019-10-05 18:18] dr5hn commented on #22
You need to add it from your mysql admin..

[2019-10-05 18:19] dr5hn commented on #21
@viper2kx Can you check now ?? I've fixed them all..

[2019-10-05 18:19] dr5hn commented on #20
@jjwalker80j Can you check now ?? I've fixed them all..

[2019-10-05 18:20] dr5hn commented on #19
@manuelricci Can you check now ?? I've fixed them all..

[2019-10-05 18:20] dr5hn commented on #17
@schalkventer Can you check now ?? I've fixed them all..

[2019-10-05 18:21] dr5hn commented on #16
@binoyudayan Can you check now ?? I've fixed them all..

[2019-10-05 18:21] dr5hn commented on #15
@paulpierre Can you check now ?? I've fixed them all..

[2019-10-05 18:21] dr5hn commented on #13
@mohamedJemmal Can you check now ?? I've fixed them all..

[2019-10-05 18:21] #12 closed

[2019-10-05 18:21] dr5hn commented on #12
Fixed.

[2019-10-05 18:22] dr5hn commented on #8
@nifrasismail Can you check now ?? I've fixed them all..

[2019-10-05 18:22] dr5hn commented on #4
@macsobczyk Can you check now ?? I've fixed them all..

[2019-10-05 18:22] dr5hn commented on #3
@ZigZapps Can you check now ?? I've fixed them all..

[2019-10-05 18:23] dr5hn commented on #10
@iamramizansari Done. Added.

[2019-10-05 18:30] paulpierre commented on #15
Looks great!

[2019-10-05 18:30] #15 closed

[2019-10-05 18:37] viper2kx commented on #21
I did a quick Ctrl+F and as far as I can see, it looks fixed.

Oh, cool, you have Latitude and Longitude now (or I just didn't notice those columns 3 weeks ago)

[2019-10-05 18:37] #21 closed

[2019-10-07 14:02] macsobczyk commented on #4
@dr5hn Both cities and states look good. Thank you.

[2019-10-08 10:45] dr5hn commented on #4
Hence Solved.

[2019-10-08 10:45] #4 closed

[2019-10-09 04:38] nifrasismail commented on #8
Thanks @dr5hn

[2019-10-09 09:01] #8 closed

[2019-10-10 03:53] wyrl opened #34 "Cebu Cities and Bataan Cities are wrong."
Country: Philippines

The cities in Cebu is Bataan Cities.

[2019-10-10 06:13] dr5hn commented on #34
@wyrl Can you help me to fix it up ?

[2019-10-13 19:28] tudoranghelina91 commented on #12
@dr5hn , thanks for implementing my recommendation :)

[2019-10-16 19:05] jessequinn opened #35 "Accents"
Good work here,

Just one thing, I have noticed many of the accents are not showing correctly. Is this just me or there is an issue with the encoding? I am referring to the SQL files, for instance, `cities.sql`.

[2019-10-17 05:16] dr5hn commented on #35
@jessequinn

So in sql the unicode characters are encoded according to mysql requirements. Don't worry.. When you try to read or compare data from sql. It will work fine.

[2019-10-17 14:37] jessequinn commented on #35
that is what is interesting using the `world.sql` and ` * @ORM\Table(options={"collate"="utf8_general_ci"})` as symfony 4 doctrine annotations it appears wrong.

[2019-10-28 14:42] nishant-sethi commented on #14
@second-2None is this still open?

[2019-10-30 21:56] abielmagu opened #36 "Missing Jalisco state of Mexico | id: 142"
Hi friend!! tnks a lot for this database, only missing the state of Jalisco with its cities... tnks again!

[2019-11-05 10:14] ArsooCh opened #37 "United kingdom data is wrong"
Some thing is wrong with the United kingdom data. All states have the same cities. Cities and States are also wrong. Check screenshot

[2019-11-05 10:15] ArsooCh commented on #37
![2019-11-05_1509](https://user-images.githubusercontent.com/35623602/68199040-0baa2280-ffdf-11e9-8ef2-9416a8fdd40e.png)

[2019-11-10 17:33] dr5hn commented on #14
@nishant-sethi //cc @second_2None Issue has been fixed. Please verify.

[2019-11-10 17:35] dr5hn commented on #10
@iamramizansari Closing this issue as its fixed now.

[2019-11-10 17:35] #10 closed

[2019-11-10 17:37] dr5hn commented on #22
@jordantsap Closing this issue as its already answered.

[2019-11-10 17:37] #22 closed

[2019-11-10 17:38] dr5hn commented on #13
@mohamedJemmal closing this as its fixed now.

[2019-11-10 17:38] #13 closed

[2019-11-10 17:39] dr5hn commented on #16
@binoyudayan Closing this issue as its fixed now.

[2019-11-10 17:39] #16 closed

[2019-11-10 17:40] dr5hn commented on #3
@ZigZapps closing this issue. As its already fixed now

[2019-11-10 17:40] #3 closed

[2019-11-10 17:41] dr5hn commented on #17
@schalkventer Closing this issue. As its already fixed now.

[2019-11-10 17:41] #17 closed

[2019-11-10 17:42] dr5hn commented on #19
@manuelricci Closing this issue.as its already fixed now.

[2019-11-10 17:42] #19 closed

[2019-11-10 17:43] dr5hn commented on #20
@jjwalker80j closing this issue. As its already fixed now.

[2019-11-10 17:43] #20 closed

[2019-11-10 20:21] second-2None commented on #14
Awesome, I’ll take a look tonight and confirm for you.

[2019-11-12 14:40] sarfrazmi opened #38 "US State of Ohio missing in the DB"
The state of Ohio and the related cities are missing in the DB.

[2019-11-13 05:36] neutrino-dgada commented on #14
@second-2None  Did you get chance to look into it ?

[2019-11-13 05:39] dr5hn commented on #14
@second-2None Did you get a chance to look into it ?

[2019-11-13 06:27] second-2None commented on #14
Yeah they are all correct, 6 states and 2 territories.

[2019-11-13 06:27] #14 closed

[2019-11-13 06:39] dr5hn commented on #35
@jessequinn
Any update on this ? Is everything fine or needs corrections ?

[2019-11-13 09:37] jessequinn commented on #35
i ended up having to use the json file to build the tables. regardless of what i did, i always had symbols show with error.

[2019-11-13 13:06] dr5hn commented on #38
@sarfrazmi Fixed in #39

[2019-11-13 13:08] dr5hn commented on #38
Closing.

[2019-11-13 13:08] #38 closed

[2019-11-13 13:10] dr5hn commented on #35
Ok good to close then. Thanks @jessequinn

[2019-11-13 13:10] #35 closed

[2019-11-14 15:16] binoyudayan commented on #16
ya.. thank you!

[2019-11-17 10:09] somendrakm opened #40 "MySQL characters are not correct"
I found that some MySQL city and state characters encoding are wrong can you please fix it and update code.
One example:-
RoÅ¾aje Municipality

[2019-11-17 10:16] somendrakm commented on #40
try this you will find all data

SELECT name FROM states WHERE name <> CONVERT(name USING ASCII)

[2019-11-17 15:49] #40 closed

[2019-12-02 12:09] GioSF opened #41 "Missing Roraima state in Brazil"
Missing Roraima state in Brazil.
https://en.wikipedia.org/wiki/Roraima

[2019-12-06 02:58] GioSF opened #42 "Algeria and American Samoa with the same states"
Algeria and American Samoa with the same states.

[2019-12-29 04:19] viper2kx opened #43 "Counties are not Cities, Misc Stuff..."
In cities.sql, I live in id=118291 (a county) and also live in id=121951 (city)

Also, you are missing a Minneapolis listing (KS, MN and NC...) https://en.wikipedia.org/wiki/Minneapolis,_North_Carolina

... and, in countries.sql there are places like Vatican and US Minor Outlying Islands that don't have states/"administration areas" or cities - where I am getting with this is, please add latitude

[2020-01-02 10:57] Rebaiahmed opened #44 "Adding Feature : "Search cities b country""
Hello, I'm interested to contribute to this project, How about adding feature :
"Getting all cities by country " I can get all the cities listed for the country I will select

[2020-01-02 10:59] Rebaiahmed opened #45 "Feature2: Adding Map to visualise countries data"
Another feature that we can add is adding Map visualization to the project

[2020-01-06 01:49] andreobrown opened #46 "SQL File Encoding Incorrect"
The SQL database dumps are not correctly encoded. Therefore, special characters are not exported properly. This results in the data files containing strings like these:

`AÄ«bak`
`MontrÃ©al`
`ColÃ³n Department`

Based on the meta data in the SQL files, it seems that you are using `utf8mb4` as your DB encoding. To export the data in the correct format, specify the encoding when exporting the data,

[2020-03-19 11:19] sharonpraju opened #49 "Spelling of the city pathanamthitta is wrong"
Current Spelling is Pathanāmthitta and it is wrong. Correct name is Pathanamthitta.
id=133380

[2020-04-01 21:50] jonasmarco commented on #37
No news, I really needed this complete? : /

[2020-04-02 03:47] andreobrown commented on #46
Any chance that we can get a new dump? Here is a sample of the data when imported in to MySQL using MySQL Workbench:

![Screenshot 2020-04-01 at 23 46 57](https://user-images.githubusercontent.com/1885207/78208748-27710200-7473-11ea-93d1-03b417db6f48.png)

[2020-04-02 04:56] dr5hn commented on #37
@jonasmarco It's already fixed. Can you please check now ?

[2020-04-02 04:57] dr5hn commented on #46
@andreobrown Thanks for reporting.

Will get it fixed by this weekend.

[2020-04-03 18:46] jonasmarco commented on #37
@dr5hn  Easy guy, thanks for the reply.

I would like to know how you do the work with this data? Do you use any tools to facilitate the visualization and manipulation of data?

I ask that for those who also know that I cannot contribute with the data.

You could include this information in README.md.

[2020-04-13 06:27] dr5hn commented on #37
@jonasmarco

As of now, I do manipulation manually. If you want to know more about it. Check the (https://github.com/dr5hn/countries-states-cities-database/tree/master/vendor)[vendor] folder.

Appreciate, If you have any ideas to making contributions much simpler.

[2020-04-16 23:22] jolupeza opened #50 "Puerto Rico cities are missing"
Json of cities does not have the cities of Puerto Rico

[2020-04-29 15:40] valerianpereira opened #54 "Export to XML"
Export to XML

[2020-04-29 15:40] valerianpereira opened #55 "Export to plist"
Export to plist

[2020-04-29 16:09] tjaoc commented on #36
Jalisco not appear

[2020-04-30 05:15] vistaar-dgada commented on #36
@tjaoc @abielmagu Thanks for reporting. Will try to fix it soon.

[2020-04-30 05:16] dr5hn commented on #36
@tjaoc @abielmagu Thanks for reporting. Will try to fix it soon.

[2020-05-01 13:56] dr5hn commented on #37
@jonasmarco @ArsooCh
Finally Fixed. 🎉

[2020-05-01 13:59] dr5hn commented on #46
@andreobrown @jacobszpz
Finally Fixed with #57. 🎉

[2020-05-01 14:02] #46 closed

[2020-05-01 14:05] #37 closed

[2020-05-01 14:11] dr5hn opened #58 "Add Country Flag 🇮🇳"

[2020-05-01 14:12] dr5hn opened #59 "Improve Demo Application"
- Add Dependent Search Options (#44)

[2020-05-05 17:18] fagsoft1 opened #63 "City Bogota is the Capital from Colombia"
Hello!

For Colombia there aren't some important cities.
Bogotá, is the capital of Colombia.
Medellín, is the capital of Antioquia.

[2020-05-06 05:48] dr5hn commented on #54
Implemented in #64

[2020-05-06 05:48] #54 closed

[2020-05-07 10:15] dr5hn commented on #55
Implemented with #65

[2020-05-07 10:16] #55 closed

[2020-05-07 10:17] dr5hn opened #66 "Export to CSV & YAML"

[2020-05-07 10:18] dr5hn commented on #63
@fagsoft1 Thanks for reporting. 🎉 Will look in to it ASAP.

[2020-05-09 12:15] dr5hn commented on #42
@GioSF Thanks for Reporting. It should be fixed now with #57. Can you please verify and close this out ?

[2020-05-09 12:18] dr5hn commented on #34
@wyrl It should be fixed now with #57. Can you please verify ?

[2020-05-09 14:05] #49 closed

[2020-05-09 14:06] dr5hn commented on #66
Implemented with #67 #68 🎉

[2020-05-09 14:07] #66 closed

[2020-05-15 12:48] thevikasthakur opened #70 "Ladakh - India"
Ladakh a new U.T. was carved out of Jammu & Kashmir state in India. Leh & Kargil are the two cities in Ladakh. Earlier the two cities were in Jammu & Kashmir state

[2020-05-16 06:37] dr5hn commented on #42
@GioSF Closing this issue for now. If you feel it still persist, please feel free to reopen.

[2020-05-16 06:37] #42 closed

[2020-05-16 06:37] dr5hn commented on #34
@wyrl Closing this issue for now. If you feel it still persist, please feel free to reopen.

[2020-05-16 06:37] #34 closed

[2020-05-16 08:13] dr5hn commented on #70
@thevikasthakur Gotcha. Thanks for Reporting. Much Appreciated. 🎉

[2020-05-16 12:13] dr5hn commented on #70
@thevikasthakur Updated. Hence Closing.

[2020-05-16 12:13] #70 closed

[2020-05-16 12:14] dr5hn commented on #58
Implemented. 🎉 🚀

[2020-05-16 12:14] #58 closed

[2020-05-20 18:53] shameemkm opened #72 "West Bengal - India"
Looks like the Indian state of West Bengal is missing from the list.

[2020-05-21 04:05] wjkhappy14 opened #73 "Shaanxi 陕西"
Shanxi 山西

[2020-05-23 16:00] kadirgombel opened #74 "State - "Sinop" is missing in the Turkey"
It's missing in the states.json
[code]

[2020-05-23 16:51] dr5hn commented on #74
@kadirgombel Awesome thanks for reporting. I will fix it. :tada:

[2020-05-24 12:31] #72 closed

[2020-05-24 12:32] dr5hn commented on #74
@kadirgombel Fixed in #75 🎉 . Please Verify.

[2020-05-24 12:32] #74 closed

[2020-05-24 21:25] kadirgombel commented on #74
@dr5hn LGTM 👍

[2020-05-30 22:31] vicventum opened #76 "Missing states for Venezuela"
Hello Friend! 😁

Checking the `countries+states.json` I realized that the following states were missing for Venezuela:

* **Estate:** Apure, **Capital:** San Fernando de Apure
* **Estate:** Falcón, **Capital:** Coro

Also, for the state *Federal Dependencies of Venezuela*, its correct name would be *Distrito Capital*, whose capital is *Caracas*

[2020-06-02 12:54] viotile opened #77 "I can see the issue of encoding. Can anyone help me to solve this encoding issue? Check below listed picture."
![image](https://user-images.githubusercontent.com/8554562/83522398-3c632380-a4fe-11ea-99b0-068346bd6771.png)

[2020-06-03 05:48] dr5hn commented on #77
@viotile Sure, can you please tell me exactly which states are you referring to ?

[2020-06-04 09:10] MarthinusStrydom opened #78 "Hong Kong not listed as a city"
Hong Kong is a country and also a city.

[2020-06-07 05:57] viotile commented on #77
Please refer to attachment. I've marked junk character above the name it is valid for some name but not for others.

![Updated - Query image Annotation 2020-06-07 112238](https://user-images.githubusercontent.com/8554562/83961524-9cb4e500-a8b1-11ea-8c60-25403a7b557f.png)

[2020-06-09 11:12] nimsabhaya opened #79 "Missing Surat, Rajkot, Bharuch and other Cities of Gujarat, India."
Missing very famous cities like Surat, Rajkot, Bharuch, etc of Gujarat State.

[2020-06-09 11:20] dr5hn commented on #79
@nimsabhaya Thanks for reporting. Appreciate it. Will try to fix it ASAP.

[2020-06-09 11:26] dr5hn commented on #77
@viotile Ok i will validate names and will try to fix it ASAP.

[2020-06-14 03:13] ashah2012 opened #80 "Missing West Bengal State in India"
West Bengal state missing from the country India.
Missing all the cities in West Bengal.

[2020-06-14 11:55] dr5hn commented on #73
@wjkhappy14 It exist on
state_id : 2254
country_id : 45

[2020-06-14 13:32] dr5hn commented on #79
@nimsabhaya The issue was Ambiguos characters in City Name
So `Rajkot` was `Rājkot`.
Hence you were unable to find it. Anyways fixed the encoding issue for all cities.

Due to this, I was able to add more cities to Gujarat :
Bagasara
Dahod
Dangs (India)
Delwada
Jalalpore
Jodia
Kavant
Khambhalia
Kutch district
Mandvi (Surat)
Mehsana
Morva (Hadaf)
Panchmahal district
Pavi Jetpur
Siddhpur
Thangadh
Va

[2020-06-14 13:58] dr5hn commented on #78
@MarthinusStrydom Did you mean to attach Hong Kong as a city within China ?

[2020-06-14 14:03] dr5hn commented on #80
@ashah2012 Fixed in #81.
<img width="1052" alt="Screenshot 2020-06-14 at 7 33 30 PM" src="https://user-images.githubusercontent.com/6929121/84595522-f733df80-ae75-11ea-97bf-cd79950e2bea.png">

[2020-06-14 14:03] #80 closed

[2020-06-14 14:07] dr5hn commented on #76
@vicventum Thanks for Reporting. Have fixed this issue in #81.

[2020-06-14 14:07] #76 closed

[2020-06-14 14:08] dr5hn commented on #79
@nimsabhaya Fixed in #81.

[2020-06-14 14:08] #79 closed

[2020-06-15 14:13] sergio-bm opened #82 "Missing Guarda District in Portugal"
Hi!

Guarda District is not in the state table

https://en.wikipedia.org/wiki/Portugal#Administrative_divisions

https://www.wikidata.org/wiki/Q273533

Thanks for your great work!

[2020-06-15 14:14] dr5hn commented on #82
@sergio-bm Thanks for Reporting 🎉 . Will take a look.

[2020-06-28 08:13] dr5hn commented on #36
@tjaoc @abielmagu Fixed in #83

[2020-06-28 08:26] #36 closed

[2020-06-28 09:22] dr5hn commented on #41
@GioSF Fixed in #84.

[2020-06-28 09:24] dr5hn commented on #45
@Rebaiahmed Appreciate your inputs. 🎉

But, I think map visualization is not possible, since map already contains all countries, cities & states in it self.

[2020-06-28 09:24] #45 closed

[2020-06-28 09:39] #41 closed

[2020-06-28 09:41] dr5hn commented on #73
@wjkhappy14 Please feel free to open if you have any doubts.

[2020-06-28 09:41] #73 closed

[2020-06-28 10:11] dr5hn commented on #50
@jolupeza Fixed in #85

[2020-06-28 10:11] dr5hn commented on #82
@sergio-bm Fixed in #85.

[2020-06-28 10:16] #50 closed

[2020-06-28 10:16] #82 closed

[2020-07-02 13:48] MerlinPong commented on #78
I sugguest Hongkong should recognized as Hongkong SAR (country level), and contains one city as itself according to other region source I found.

[2020-07-03 06:07] dr5hn commented on #78
@MerlinPong Thanks for suggestion. I will also validate from my side as well.

[2020-07-03 12:00] atta1234 opened #86 "this free version has total wrong data"
is there is any paid version of it , to get accurate data

[2020-07-03 12:01] valerianpereira commented on #86
Hey @atta1234, which records are invalid ?

[2020-07-03 12:01] dr5hn commented on #86
@atta1234 Sorry for that. But can you please let us know which data are you referring to ?

[2020-07-03 12:21] atta1234 commented on #86
when i try to fetch ,Pakistan then state Punjab, so the cities are coming from india mix,so the conflict is india and pak has same state name ,,,, here is the demo https://yaahgo.com/ you can check on home page
here is the real example,

[2020-07-03 12:47] dr5hn commented on #86
@atta1234 Gotcha, Thanks for reporting. Appreciate it.

Since india & pakistan both has Punjab as a state made a conflict.

Will try to fix this issue ASAP. Will update you once done.

[2020-07-03 12:53] atta1234 commented on #86
ok waiting thanks

[2020-07-04 14:08] dr5hn commented on #86
@atta1234 is this website developed by you ?  https://yaahgo.com/

I think there's a defect in your dropdown results itself. I debugged your dropdown, you're using select2.. Found this.

Pakistan_Punjab Results...
<img width="1440" alt="Pakistan_Punjab" src="https://user-images.githubusercontent.com/6929121/86514101-33cb7900-be2d-11ea-9913-9bcd2ecfec81.png">

India_Punjab Results...
<img width="14

[2020-07-04 14:11] dr5hn commented on #86
@atta1234 This is what we have in our DB

For Pakistan_Punjab
[code]

For India_Punjab
[code]

[2020-07-04 14:13] atta1234 commented on #86
but i have used your database the conflict is between ids,

[2020-07-04 14:15] atta1234 commented on #86
i will update the db again

[2020-07-04 14:18] dr5hn commented on #86
@atta1234 If you look at the DB, MYSQL id column is primary and it won't accept duplicate ids..

Well, wait for sometime, i am pushing latest updates of cities. Then you update it.

Moreover, we are also working on API for this database. So soon will be sharing apis for this database so that you can consume the same in your website.

[2020-07-04 14:21] atta1234 commented on #86
did you check that some Pakistan 3 other provinces also does not have data

[2020-07-04 14:28] dr5hn commented on #86
@atta1234 Latest updates to DB pushed to `master`. Now you can grab the latest DB.

I've checked following provinces from my side. All contains data inside them.

3169	Islamabad Capital Territory
3170	Gilgit-Baltistan
3171	Khyber Pakhtunkhwa
3172	Azad Kashmir
3173	Federally Administered Tribal Areas
3174	Balochistan
3175	Sindh
3176	Punjab

Let me know if we're missing anything.

[2020-07-04 14:42] atta1234 commented on #86
ok thanks for your hard work, i will update

[2020-07-06 05:41] dr5hn commented on #86
@atta1234 Let me know if you face any more issues Or Please close this issue.

[2020-07-06 14:01] atta1234 commented on #86
Hi thank you i have updated the database ,it's working fine now !

[2020-07-06 14:01] #86 closed

[2020-07-15 07:39] BerndKarlsboeck opened #88 "Double entry in austrian cities"
Example in csv cities

3062,"Politischer Bezirk Zell am See",2061,5,15,AT,47.28333000,12.70000000
3874,"Zell am See",2061,5,15,AT,47.32556000,12.79444000

One entry says "politischer Bezirk"  which means "political district" and the other one doesn't.

Delete the entries that say "politischer Bezirk". in this case entry 3062 and keep 3874
This is only the case for some Austrian entries.

[2020-07-15 07:46] dr5hn commented on #88
@BerndKarlsboeck Thanks for reporting. 🎉 Will fix it ASAP.

[2020-07-17 02:38] kingbeto opened #90 "Buenos Aires City Missing as State"
Hi there. Great job by the way.

In Argentina we have the Buenos Aires Province and the Autonomous City Of Buenos Aires. Two completely different things. Autonomous City Of Buenos Aires is super big in population and economically speaking.

**Change 1: In States: Buenos Aires City is a city but also a Sate. It's name is Autonomous City Of Buenos Aires.**
In states: you can add this at the end:

[2020-07-20 13:20] TwentyFourMinutes opened #92 "Wrong city entries in Austria/Germany/Switzerland and probably much more"
This request is similar to #88, but for a set of different cities:

[code]
So basically all of these entries are not cities. Even though some of the cities got similar names. Therefore these should be removed.

I would also assume that this is the case for all `Province`'s, although I am not sure there.
[code]

[2020-07-20 13:48] dr5hn commented on #92
@TwentyFourMinutes Thanks for reporting. 🎉  I will look into it.

[2020-07-20 13:50] dr5hn commented on #90
@kingbeto Thanks it helped you.

Thanks for reporting. 🎉 I will look into it ASAP.

[2020-07-30 11:03] TwentyFourMinutes opened #95 "Missing City entries in Austria"
`Sankt Jakob im Rosental` is missing as a City entry in the State: `Kärnten`, `Austria`. See [Wikipedia](https://en.wikipedia.org/wiki/Sankt_Jakob_im_Rosental).

[2020-07-30 11:04] dr5hn commented on #95
@TwentyFourMinutes Thanks for reporting. 🎉

I will check it out.

[2020-07-30 11:12] TwentyFourMinutes commented on #95
Also `Rohrbach in Österreich` merged with `Berg bei Rohrbach` and is now named `Rohrbach-Berg` see [Wikipedia](https://de.wikipedia.org/wiki/Rohrbach-Berg)

[2020-08-01 09:58] dr5hn commented on #92
@TwentyFourMinutes I reviewed the data. Found that first set of data in cities are Districts and Some district also has the same name of town. Hence you can see duplicate data.

//cc @BerndKarlsboeck Need your suggestions here.

[2020-08-02 07:21] dr5hn commented on #88
@BerndKarlsboeck Fixed in #96. Please verify.

[2020-08-02 07:21] dr5hn commented on #95
@TwentyFourMinutes Fixed in #96. Please verify.

[2020-08-02 11:25] TwentyFourMinutes commented on #95
Seems to be alright now!

[2020-08-02 15:01] #95 closed

[2020-08-02 15:02] dr5hn commented on #95
Thanks for verification. Hence closing it.

[2020-08-04 07:46] lesiagnapovska359 opened #98 "No world regions linked to countries"
All the countries should be linked to region like Europe, Asia and so on.
Here are the API which provide regions for country https://restcountries.eu/rest/v2/all?fields=name;region

[2020-08-04 07:55] dr5hn commented on #98
@lesiagnapovska359
Wohoo.. 🎉  Nice One.. Thanks for sharing this..

This will make a good enhancement to database.
Really appreciate it. Will add it soon..

[2020-08-04 07:56] lesiagnapovska359 commented on #98
Wellcome! Many thanks to the database. It cames really helpfull for me.

[2020-08-04 14:37] AvdiuAndin opened #99 "Kosovo bug"
Thanks for the time that it took to build this repo :) I really appreciate it

I just wanted to let you know that Kosovo is not under/part of Serbia.
Therefore, states with ids:
1. 3730
2. 3739
3. 3735
Should be removed and Kosovo should be inserted as a new Country

[2020-08-04 14:43] dr5hn commented on #99
@AvdiuAndin Thanks for reporting. 🎉

What about cities of Kosovo ? Did you got any resource, where i can find the info about Kosovo ?

[2020-08-04 15:28] AvdiuAndin commented on #99
Wiki data: https://www.wikidata.org/wiki/Q1246
Cities: https://www.citypopulation.de/en/kosovo/cities/
Country code: https://countrycode.org/kosovo

INSERT INTO `countries` ( `name`, `iso3`, `iso2`, `phonecode`, `capital`, `currency`, `native`, `emoji`, `emojiU`, `flag`, `wikiDataId`) VALUES
('Kosovo', 'XKX', 'XK', '383', 'Prishtina', 'EUR', 'Kosova', '🇽🇰', 'U+1F1FD, U+1F1F0', 1, 'Q1246'),

[2020-08-04 18:16] dr5hn commented on #99
@AvdiuAndin Awesome. Thank you so much. 🎉

[2020-08-05 17:00] dr5hn commented on #88
@BerndKarlsboeck  Fixed. Hence closing.

[2020-08-05 17:00] #88 closed

[2020-08-05 17:04] dr5hn commented on #43
@viper2kx It's been a long time this issue is pending.

I tried looking into it, looks solved to me. Hence closing this issue for now.

Feel free to re-open if you still face the same issue.

[2020-08-05 17:04] #43 closed

[2020-08-05 17:06] dr5hn commented on #44
@Rebaiahmed I've merged this issue in #59 Hence closing.

[2020-08-05 17:06] #44 closed

[2020-08-06 15:57] Umar431497 opened #100 "Areas of city"
I want to fetch the areas in a city as well

[2020-08-06 15:58] dr5hn commented on #100
@Umar431497 Thanks for your suggestion.

Good to have. But difficult to incorporate at the moment.

[2020-08-06 16:01] Umar431497 commented on #100
@dr5hn Any other source or link .. I need to add these in my project
or how many days will it take to add towns of cities

[2020-08-06 16:16] dr5hn commented on #100
@Umar431497 I did some research on this long back. also forgotten the name of sources.

But data was very scattered at different sources. It requires a lot of manual efforts to bring them together.

[2020-08-13 23:01] rodolfosouza opened #101 "Timezone, normalize names, language. Fix curencies"
Nice job my friend 👍

could you please add the following:
- timezone (eg "America/Toronto") for each city (https://github.com/MrMinimal64/timezonefinder)
`(timezone_at or closest_timezone_at)`
- main language like en-CA and extra langs fr-CA
- normalized names like cancún/cancun, são paulo/sao paulo (https://pypi.org/project/Unidecode/)
- flag from project https://restcountries.eu ("https://restco

[2020-08-15 17:04] dr5hn commented on #101
@rodolfosouza Thanks for reporting and your suggestions. 🎉

I've fixed currencies for now. Please verify. #102

Will look into enhancements soon.

[2020-08-15 17:05] dr5hn commented on #99
@AvdiuAndin Done. Please Verify. #102

[2020-08-15 17:05] dr5hn commented on #90
@kingbeto Done. Please Verify. #102

[2020-08-15 17:05] dr5hn commented on #63
@fagsoft1 Sorry for the delayed response. I dug down to cities, found that

- 👍🏼  Medellin does exist in cities at 21074
- 👎🏼 Bogota does not exist in cities - So I added it.
- added a few more cities that were missing.
- Added a Huila State & its Cities which was missing completely.

Done. Please Verify. #102

[2020-08-15 17:08] dr5hn commented on #100
@Umar431497 Closing for now.

[2020-08-15 17:08] #100 closed

[2020-08-15 17:13] #63 closed

[2020-08-15 17:13] #90 closed

[2020-08-15 17:13] #99 closed

[2020-08-17 07:13] sryn101 opened #103 "Cities are repeated with district, city or province suffix"
Hi, I must admit you are doing a great job.. just found some discrepancies..

There are duplicates of the same city with district, city, county or province suffix.
Eg.,
City ID 131457 and 131458 Kwekwe  and Kwekwe District respectively.. both are same
City ID 117601 and 117602 Green Lake and Green Lake County respectively.. both are same

Similarly there are plenty of other records with province,

[2020-08-17 07:15] dr5hn commented on #103
@sryn101 Thanks for reporting. 🎉 I will take a look at it ASAP.

[2020-08-17 07:47] sryn101 commented on #103
Thanks for your swift response @dr5hn  I just made a list of all strings to look for while identifying duplicates:

COUNTY
PROVINCE OF
CITY OF
GOVERNADOR
MUNICIPIO
RAYON
KOMMUN
DEVELOPMENT BLOCK
CITY PROVINCE
CITY MUNICIPALITY
CITY MUNICIPALITY OF
CANTON OF
DISTRICT MUNICIPALITY
METROPOLITAN REGION
MUNICIPALITY OF
REGION
STATE
VOIVODESHIP
VILLAGE
VICEROYALTY
TOWNSHIP
TOWN
SUBPREFECTURE
SUBDISTRICT

[2020-08-17 12:48] aastashov opened #104 "Ahmedabad/Ahmadabad bug"
Thank you for creating this repository!

Ahmedabad (id=67606) and Ahmadabad (id=67605) are the same city with different names. I don't know exactly, but according to wikipedia and maps.google.com, it will be correct to use Ahmedabad. So Ahmadabad needs to be removed.

https://en.wikipedia.org/wiki/Ahmedabad
https://www.google.com/maps/place/Ahmedabad,+Gujarat,+India/@23.0201818,72.4396587,11z/data

[2020-08-28 09:48] aastashov commented on #104
How can I help in promoting this question?

[2020-08-31 06:21] dr5hn commented on #104
@aastashov Thanks for reporting. 🎉 Don't worry i will fix it ASAP.

[2020-09-06 10:58] dr5hn commented on #59
Fixed with #105

[2020-09-06 10:58] #59 closed

[2020-09-09 22:35] Pakeydev commented on #103
Hi,

In Readme.md it stated that;

Insights
Total Countries : 248
Total States/Regions/Municipalities : 4,872
Total Cities/Towns/Districts : 141,850

But when upload it to my phpMyAdmin total cities is 142842. Is this mean there is 992 duplicated cities or is it the Insight not updated with new total cities?

Thanks.

[2020-09-10 05:18] dr5hn commented on #103
@Pakeydev Insights are not updated.

[2020-09-17 14:55] mpoeschl opened #106 "add translations"
thanks a lot for this great database!
it would be nice, to have translations for all items. Therefore you can add a node to each item with following structure:
`{
        "id": 82,
        "name": "Germany",
        "iso3": "DEU",
        "iso2": "DE",
        "phone_code": "49",
        "capital": "Berlin",
        "currency": "EUR",
        "native": "Deutschland",
        "emoji": "🇩🇪",

[2020-10-01 01:38] quezon opened #107 "Many Provinces in the Philippines have no cities"
Provinces like Pangasinan have no cities with it. How to contribute and change data especially for Philippines?

[2020-10-01 01:39] quezon opened #108 "Metro Manila, Philippines has a wrong set of cities/towns"

[2020-10-01 01:43] quezon commented on #107
Wikipedia has more accurate source of information
https://en.wikipedia.org/wiki/List_of_cities_and_municipalities_in_the_Philippines

[2020-10-01 06:27] dr5hn commented on #107
ADD: #108
Metro Manila, Philippines has a wrong set of cities/towns

[2020-10-01 06:27] dr5hn commented on #108
Merged with #107

[2020-10-01 06:27] #108 closed

[2020-10-01 06:32] dr5hn commented on #107
@quezon Thanks for reporting. 🎉

For contribution, you need to update sql files and raise a PR. Please take a look at [Contribution Guidelines](https://github.com/dr5hn/countries-states-cities-database/blob/master/CONTRIBUTING.md)

[2020-10-02 14:15] karmakula commented on #107
Hi. i would love to help a fellow Filipino with this issue

[2020-10-05 06:47] dr5hn commented on #107
@karmakula Feel free to contribute.

[2020-10-05 10:15] #104 closed

[2020-10-11 01:59] sirsweet242 opened #119 "Nassau missing from states database under country bahamas"
INSERT INTO `hvisa_world_states`(`id`, `name`, `country_id`, `country_code`, `fips_code`, `iso2`, `created_at`, `updated_at`, `flag`, `wikiDataId`) VALUES ('4881','Nassau','17','BS','BF','NS','2020-10-10 17:45:55','2020-10-10 17:45:55','1','Q2467')
Nassau is mentioned in the country db as the capital under the country (bahamas) but not under the states db.

[2020-10-13 09:49] dr5hn commented on #119
@sirsweet242 Thanks for reporting. 🎉

According to Wikipedia, https://en.wikipedia.org/wiki/Nassau,_Bahamas
`Nassau` is the largest **CITY** of Bahamas, whereas it lies under **State** `New Providence`.

Hence i am adding
- `New Providence` as a State
- `Nassau`as a City

[2020-10-13 10:09] #119 closed

[2020-10-14 05:52] psmahantesh opened #123 "Cities are missing in colombo and kandy District of Sri lanka"
FYI,

Kandy: https://en.wikipedia.org/wiki/Kandy_District

Colombo: https://en.wikipedia.org/wiki/Colombo_District

Kindly check and update missing cities asap

[2020-10-14 06:12] dr5hn commented on #123
@psmahantesh Thanks for reporting 🎉  I will look into it.

[2020-10-22 14:46] nerfologist opened #124 "Dependent territories"
Hello,
it would be useful to link [dependent territories](https://en.wikipedia.org/wiki/Dependent_territory) to their respective controlling country.

One such example is [Bouvet Island](https://en.wikipedia.org/wiki/Bouvet_Island). It is represented in the countries list, with iso2 code `BV` and iso3 code `BVT`. Its controlling country is Norway.

[2020-10-22 14:50] dr5hn commented on #124
@nerfologist Thanks for the suggestion. 🎉

Btw, I am a little bit confused, that will these territories be treated as a country or state?

[2020-10-22 14:53] nerfologist commented on #124
I'm not 100% sure but I think they are considered as countries (they have ISO-3166 country codes); they just have a connection to another country. I changed the wording in the original issue to clarify this; Bouvet Island is in the list of countries.

[2020-10-22 16:03] dr5hn commented on #124
@nerfologist Thanks for the info.

I will check this out soon.

[2020-10-23 16:39] dereuromark opened #125 "Continents and their countries"
I have a DB with

So basically quite similar, I could see if I can sync that.

My main question:
Would you also consider adding Countries to Continents grouping/linking?

Right now there is no fully complete list yet in the internet anywhere, and it could fit here quite well.
I have a list of 200/250 countries mapped here already to the continents.

![continents_and_countries](https://user-images.

[2020-10-23 20:18] dereuromark commented on #98
Oh, I guess this is what I meant with https://github.com/dr5hn/countries-states-cities-database/issues/125 and continents
I did that already for 200 of 250 countries.
I guess your list is complete though?

[2020-10-23 20:20] dereuromark commented on #98
{"name":"Turkey","region":"Asia"}
Shouldnt that be in the Europe region? Especially since even Russia is still mainly Europe :)
At least that's where I put them in my DB after some research on it.

[2020-10-23 20:24] dereuromark commented on #125
After I saw the other ticket, maybe I should also call them regions instead. That allows this more flexible separation or nesting of them.

[2020-10-24 07:53] dr5hn commented on #98
@dereuromark According to Wikipedia, it should belong to Asia.

Check this 👇🏼
Turkey, officially the Republic of Turkey is a transcontinental country located **mainly** on the Anatolian peninsula in **Western Asia**, with a **smaller portion** on the Balkan peninsula in **Southeastern Europe**.

It has a major portion in Asia and a smaller portion in Europe.

[2020-10-24 08:19] dr5hn commented on #125
@dereuromark Thanks for putting this up. Appreciate your help. 🎉

This addition was already there on my To-Do List. I am happy to have it.

I would like to have it included this way: [API](https://restcountries.eu/rest/v2/all?fields=name;region;subregion)
[code]

#101 I would also like to add many things to DB like:
- [Timezone Abbreviations & Offsets](https://en.wikipedia.org/wiki/List_of_time_zo

[2020-10-24 14:58] dr5hn commented on #107
@quezon

1. Fixed Manila Cities
2. Found Cities for Following Provinces
[code]
Raised PR #107

[2020-10-24 15:16] #107 closed

[2020-10-24 23:34] dereuromark commented on #125
If you include from that source I would recommend matching not on the human name, but the alpha3Code:
https://restcountries.eu/rest/v2/all?fields=name;alpha3Code;region;subregion

This way, even if they or this db changes a name of a country slightly (e vs é etc), it would still match fine.
Country names can change, their iso code usually not.

[2020-10-25 15:10] dr5hn commented on #125
@dereuromark Done. Added.

The only difference I see between your region screenshot and this API is of wordings.
[code]
Do you know which one is preferable?

Added one more missing country Curaçao 🇨🇼

All thanks go to you. 🎉

[2020-10-25 15:12] dr5hn commented on #98
@lesiagnapovska359 Done. Added. #126

[2020-10-25 17:16] dereuromark commented on #125
I dont mind either way
I guess the first is more common.

In the end I recommend using the codes for reading and comparing it, this way it isnt a big deal to match with other libs and data.
SA, NA, ...

[2020-10-26 06:52] dr5hn commented on #125
@dereuromark

Thanks for the confirmation.

I've already added these fields in countries, have you checked?
https://github.com/dr5hn/countries-states-cities-database/pull/128/files

[2020-10-26 09:30] #125 closed

[2020-10-26 09:54] #98 closed

[2020-10-27 23:33] dereuromark commented on #101
Here is also a CSV if we want to get it started.

How would you prefer to store the data in the records?

[code]

[2020-10-28 06:44] dr5hn commented on #101
@dereuromark Woohoo... 🎉 Thanks for CSV.

I also want to add a Timezone abbreviation, like this source.
[Timezone Abbreviations & Offsets](https://en.wikipedia.org/wiki/List_of_time_zone_abbreviations)

I want to put it this way:
[code]
or this way
[code]

[2020-10-28 09:08] dereuromark commented on #101
Keeping the list flat could be easier to convert to e.g. csv
But in the end both would work fine.

[2020-10-28 10:21] dr5hn commented on #101
@dereuromark You're right !! 👍🏼

If we consider exporting to CSV, We need to keep the structure flat.

So let's keep the structure flat, Btw are you going to work on this?

[2020-10-28 10:38] dereuromark commented on #101
I can help in assisting capacity
One question would be: How do you want to handle the ranges? E.g. US or Russia with multiple timezones?

Your suggestion shows only one
As you can see from my csv, a range of hours is likely, and so is also the range of abbr (or acronyms) then

[2020-10-28 10:51] dr5hn commented on #101
@dereuromark Hmm. That's a good question.

As I see in this source [RestCountries](http://restcountries.eu/rest/v2/all?fields=name;alpha3Code;timezones)
They've managed to get them in an array.

We can do the same. What say?

[2020-10-28 12:02] dereuromark commented on #101
So you mean sth like
[code]

This way we wouldn't need the key names as it is clear from "offset => name" way

For CSV, this could be pipe/semicolon,comma separated then:

    UTC+05:00 (XYZ) | ...

But that part is optional anyway, I think the main focus should be the JSON format.

[2020-10-28 13:48] dr5hn commented on #101
@dereuromark This is good. As far as I see, each timezone offset has its own abbreviation. So no offset will remain blank.

Just a suggestion.
I think we need to rotate the position of the key & value to make it accessible easily.

[code]

Since the key is one word, the user can access it easily by `timezones.XYZ`.

[2020-10-28 14:25] dereuromark opened #132 "Population per level"
Are you also interested in containing population count (integer) per level?
- Country
- Region
- City

etc?

Here would be the German one for example for the larger ones (>=100.000):
[cities_population_DE.txt](https://github.com/dr5hn/countries-states-cities-database/files/5452457/cities_population_DE.txt)

I can understand that this might be a bit too much, especially since the data changes every

[2020-10-28 14:31] dr5hn commented on #132
@dereuromark Thanks for the suggestion, But It is very difficult to incorporate at the moment. and also I am actually interested in data that are more static in nature and changes less frequently or never.

[2020-10-28 14:38] dereuromark commented on #132
Makes sense :)

[2020-10-28 14:38] #132 closed

[2020-10-29 00:19] dereuromark commented on #101
I looked at the ranges again
and

shows that AET would not be clear, so the other way around would be:

[code]
The key lookup is very unlikely anyway, most would just iterate over them to get both key and value.

[2020-10-29 07:00] dr5hn commented on #101
@dereuromark Hmm... I see.

Ok then let's make it this way.

[code]

I will work on this.

[2020-10-29 19:28] patrickdaze commented on #123
Looking into this one now

[2020-11-06 00:09] narayanmoni opened #137 "Bonaire and Sint Maarten are missing from the database."
The ISO 3166 standard has the following countries in it. But they are not in this database.

1. Bonaire, Sint Eustatius and Saba
2. Sint Maarten

Is there a reason why? I can update the countries.sql and create a pull request to try and keep this DB compliant with the ISO standards.

[2020-11-07 06:05] valerianpereira commented on #101
UTC+01 means IST (Irish Standard Time) as well as Central European Time as well as Middle European Time Same zone as CET and a lot more...

[2020-11-07 12:29] dereuromark commented on #101
That is true.. But for each country there is only one specific one, though. And that's what the key value pair here stands for.

In general we also still need (e.g. in PHP) world the `America/Toronto` way on top of the above config, as this is what the coding language needs to switch the timezone config.
But that mapping could also be handled outside of this lib.

[2020-11-09 05:10] PrateekGoyal18 opened #139 "All States data"
Is it possible to get all States/Regions/Municipalities data at once?

[2020-11-09 05:13] #139 closed

[2020-11-19 16:14] nigelhorne opened #140 "Northern Ireland Cities Added to North Yorkshire"
id 2522 in counties+states+countries.json contains all of the cities that should be in id 2337.

[2020-11-20 05:46] dr5hn commented on #140
@nigelhorne Thanks for reporting. 🎉 Will take a look.

[2020-11-20 05:50] dr5hn commented on #137
@narayanmoni I need to check the 1st one but for sure 2nd one is already present.
[code]
Saint Martin (French: Saint-Martin; Dutch: Sint Maarten)

[2020-11-29 12:41] dr5hn commented on #101
@dereuromark Finally timezones have been added to countries.

Thank you so much for your help I really appreciate it 👍🏼

[2020-11-29 16:34] #123 closed

[2020-11-30 01:43] dereuromark commented on #101
I checked the data set

Those do not have any timezone data yet, but I guess they don't officially use one then?

[2020-11-30 06:02] dr5hn commented on #101
@dereuromark Thanks for checking.

Or may be I have missed them. I will take a look once again.

[2020-11-30 13:06] cornelpopa opened #146 "City Reghin in Romania is missing"
https://en.wikipedia.org/wiki/Reghin
https://www.google.com/maps/place/Reghin/@46.7724464,24.6694561,13z/data=!3m1!4b1!4m5!3m4!1s0x474a37955620fe11:0x6a5589f7fca5fd3c!8m2!3d46.7710931!4d24.700762

[2020-11-30 13:06] dr5hn commented on #146
@cornelpopa Thanks for reporting. 🎉 Will check it out soon.

[2020-11-30 13:07] cornelpopa opened #147 "Schumen region and city is missing (Bulgaria)"
City Schumen and the entire province of Schumen from Bulgaria seems to be missing.

https://en.wikipedia.org/wiki/Shumen
https://www.google.com/maps/place/Shumen+Province,+Bulgaria/@43.3090798,26.7133146,10z/data=!3m1!4b1!4m5!3m4!1s0x40a5899fedcd08c7:0x300a01269bf4d30!8m2!3d43.271252!4d26.9360985

[2020-12-05 13:33] dr5hn commented on #101
@dereuromark Fixed in #148.

[2020-12-05 13:33] #137 closed

[2020-12-05 13:33] #146 closed

[2020-12-05 13:33] #147 closed

[2020-12-09 20:22] #101 closed

[2020-12-15 06:59] Sobi1995 opened #153 "Running Script in Sql Server"
when I want to execute a script in SQL server I get some errors! are they different? MySQL and SQL server I mean

[2020-12-15 07:00] dr5hn commented on #153
@Sobi1995 I think so !! But what are the errors?

[2020-12-15 07:03] Sobi1995 commented on #153
they are syntax errors!
what can I do?

[2020-12-15 07:06] dr5hn commented on #153
@Sobi1995 Can you post them here? So that I can check and if possible we can fix it.

[2020-12-15 07:11] bregoh commented on #153
@Sobi1995 the sql file is mostly compatible with mysql server, hence the syntax error.

My suggestion is you use the csv file or json file using programming code to update the database. If you need assistance let me know.

[2020-12-15 07:14] dr5hn commented on #153
@Sobi1995 //cc @bregoh  I want to make this Database compatible with SQL Server as well.

[2020-12-15 07:16] Sobi1995 commented on #153
![image](https://user-images.githubusercontent.com/31405858/102183219-b8cdba80-3ec2-11eb-8f8a-150f6272d846.png)

[2020-12-15 07:21] Sobi1995 commented on #153
thanks
I thought the same

[2020-12-15 07:21] dr5hn commented on #153
@Sobi1995 Thanks for the screenshot. If you can wait, I will fix these issues by this weekend and make it SQL Server compatible.

[2020-12-15 07:28] Sobi1995 commented on #153
thanks
I wanted to fix that and send a pull request but I wait for you

[2020-12-15 07:34] dr5hn commented on #153
@Sobi1995

In the meantime, If you want to fix it, please go ahead.

You can use this site for syntax comparison
http://www.sqlines.com/sql-server-to-mysql

If you've got a windows machine, You can also download the tool for conversion, you need to just put our SQL script and click on convert.
http://www.sqlines.com/download

[2020-12-15 13:00] Trozmagon opened #154 "Model needs modification"
Hi dude, nice work on this, I just discovered it.

I've noticed there are some instances of countries that don't contain cities such as Hong Kong, Vatican City or Samoa, which is fine, it would mean data duplication but in the instances the model loses latitude/longitude for these locations.

Are you generating these locations automatically or are all updates community driven? I think it would be

[2020-12-15 13:25] dr5hn commented on #154
@Trozmagon Thanks for the suggestions 🎉

- Modifications are open to all.
- For location updates or error fixes, I do manual research using Wikipedia & Wikidata and then fix them.
- If you can get me the modifications in JSON format I have a script available to push it in DB and then regenerate all other formats.
- For countries you can easily get Lat Long from here ==> https://restcountries.eu/re

[2020-12-15 13:30] Trozmagon commented on #154
Nice one mate, I've written a script to read you're countries+states+cities.json file already so I'll make some modifications to that and see if we can get Country lat/lng incorporated and then I'll have a look at state later :). I'll get back to you soon.

[2020-12-15 13:33] dr5hn commented on #154
@Trozmagon Just a note,

If you're making updates to JSON, then please use standalone JSON files.
For countries updates, use `countries.json`
For states updates, use `states.json`

[2020-12-15 14:23] Trozmagon commented on #154
will do

[2020-12-15 14:51] Trozmagon commented on #154
Added countries, where do you get your State information from?

[2020-12-15 17:32] Trozmagon commented on #154
Nevermind, I've been able to script all the info out of Google Maps API, should have some data to commit shortly.

[2020-12-17 06:15] dr5hn commented on #154
@Trozmagon Ok fine, let me know if you need anything else.

[2020-12-17 14:24] Trozmagon commented on #154
All good, I've submitted the changes so I'll close this off, thanks mate :)

[2020-12-17 14:26] dr5hn commented on #154
@Trozmagon

Mate, you forgot to Raise a Pull Request.

[2020-12-17 14:31] Trozmagon commented on #154
Ahhh sorry mate, I didn't actually pull the source, I just proposed the changes.

[2020-12-17 14:31] dr5hn commented on #154
@Trozmagon Never mind, Thanks a ton.

[2020-12-17 14:38] Trozmagon commented on #154
I've written a small .net core app to get Countries, States and Cities from your json files and then Search google maps API for each of them if you would like me to send it to you?

I didn't propose it here because it's in .net not php and my Models are quite different to yours but it wouldn't be hard to modify.

[2020-12-17 14:43] dr5hn commented on #154
@Trozmagon Wow!! that's awesome 😎

I would love to see it !! Can you please share ?

[2020-12-17 15:48] Trozmagon commented on #154
I've ripped it out of my main solution and dumped it here: @Trozmagon/LocationScraper

But it won't run without a database connection a google maps API key but you'll get the idea from the code.

[2020-12-18 06:57] dr5hn commented on #154
@Trozmagon Nice, Thanks for sharing.

[2020-12-21 15:41] #154 closed

[2020-12-29 14:31] cornelpopa opened #165 "Table cities column name is updated_on instead updated_at"
Table cities column name is updated_on instead updated_at

I think that updated_at would make more sense as it respects the naming convention from other tables (world, countries, etc) and also adheres to the same naming convention from different frameworks (f.e. laravel).

[2020-12-29 14:36] dr5hn commented on #165
@cornelpopa I agree with you.

Thanks for the suggestion, will get it updated soon.

[2020-12-30 14:18] dr5hn commented on #165
@dr5hn Reminder to Myself.

* Need to add Schumen city

[2020-12-30 16:19] UtopiaBe opened #166 "Can't get Cities if there's no State!"
Some countries like [Asland Islands] don't have a state. So it is not possible to get Cities of Asland Islands because there are no state code:
https://api.countrystatecity.in/v1/countries/AX/states/**XX**/cities

Any idea on making possible to get all Cities by Country?

[2020-12-30 16:29] dr5hn commented on #166
@UtopiaBe It's very much possible. Let me push an update to API with this ability. I will keep you posted.

Thank you so much for raising this issue.

[2020-12-30 16:50] dr5hn commented on #166
@UtopiaBe One more thing, For this particular country "Ashland Islands". If you don't see any states, there won't be any cities' existence in DB. Since cities are dependent on `state_id`.

[2020-12-30 16:54] dr5hn commented on #166
@UtopiaBe I have made the API available to you.
https://api.countrystatecity.in/v1/countries/AX/cities

[2020-12-30 17:38] UtopiaBe commented on #166
Wow! That was quick 🥇
I will try to make an Russian translations, so if you want i will contribute it.

[2020-12-30 17:56] dr5hn commented on #166
@UtopiaBe Thanks.

Sure, I will be waiting.

[2020-12-30 17:56] #166 closed

[2021-01-15 08:43] drakodev opened #168 "UK Cities"
UK Cities are part of England State as per stateId

[2021-01-15 09:07] dr5hn commented on #168
@drakodev can you please elaborate more about this issue ?

[2021-01-15 09:43] drakodev commented on #168
All the cities of United kingdom are under one state i.e England with state_code: "ENG" and id: 2336

For instance Milton Keynes should have been under Buckinghamshire state but it is under England state.

![image](https://user-images.githubusercontent.com/17120702/104708760-1bc1a400-5744-11eb-9f4d-ae1355cf1c5a.png)

[2021-01-15 09:57] dr5hn commented on #168
@drakodev Thanks for the brief. Will look into it ASAP.

[2021-01-22 07:27] oyeaussie opened #169 "Currency Symbols"
Hello,

Please see attached json file.

Maybe you can include the currency symbols in your next release.

Symbols are good to have for e-commerce websites to show it on invoices or cart.

Thanks.
[src.zip](https://github.com/dr5hn/countries-states-cities-database/files/5854160/src.zip)

[2021-01-22 07:29] dr5hn commented on #169
@oyeaussie That's awesome !!

Thank you so much for your contribution.

Really Appreciated. 🎉

[2021-01-23 10:56] dr5hn commented on #168
@drakodev Actually there's some issue with Data.
- Buckinghamshire shouldn't be in the States table. As Buckinghamshire comes under State "England".
- So I need to move Buckinghamshire from states to cities table.
- Also need to move out "Milton Keynes" from the data itself.

[2021-01-23 11:24] dr5hn commented on #78
@MarthinusStrydom //cc @fa1com

Is there any State/Province available with which I can attach "Hongkong" as a City?

[2021-01-23 12:08] #78 closed

[2021-01-23 12:08] #140 closed

[2021-01-23 12:08] #165 closed

[2021-01-23 12:10] dr5hn commented on #165
@cornelpopa Finally added Shumen as a City.

[2021-01-23 13:25] #106 closed

[2021-01-23 13:25] #169 closed

[2021-01-23 14:19] oyeaussie opened #173 "currency symbol is null"
https://github.com/dr5hn/countries-states-cities-database/blob/ebaacfbe061f19cec10d6572f4587d2a3beb78ad/scripts/export.php#L61

currency_symbol is null in countries+state+cities.json file.

[2021-01-23 14:21] dr5hn commented on #173
@oyeaussie My Bad :( Let me fix it real quick. Thanks for the heads up !

[2021-01-23 14:38] dr5hn commented on #173
@oyeaussie Fixed. Can you please verify now?

[2021-01-24 10:34] #173 closed

[2021-02-04 05:21] neelabh2010 opened #178 "Too many records are repeating in Cities"
I found, there are some city records that are repeated.
It is under INDIA -> Uttar Pradesh ->
**1) Agra and Āgra**
**Agra**
{
  "id": 57601,
  "name": "Agra",
  "state_id": 4022,
  "state_code": "UP",
  "country_id": 101,
  "country_code": "IN",
  "latitude": "27.18333000",
  "longitude": "78.01667000"
}
**Āgra**
{
  "id": 134453,
  "name": "Āgra",
  "state_id": 4022,
  "state_code": "UP",
  "coun

[2021-02-04 08:24] miststudent2011 opened #177 "Wrong column mapping in countries.csv file"
|id |name         |iso3|iso2|phone_code|capital  |currency|currency_symbol|native   |region|subregion      |translations                                                                                                               |latitude   |longitude  |emoji|emojiU         |
|---|-------------|----|----|----------|---------|--------|---------------|---------|------|---------------|-------------

[2021-02-04 09:07] dr5hn commented on #177
@miststudent2011 Thanks for reporting. 👍🏼

Will fix it soon. 🎉

[2021-02-04 09:11] dr5hn commented on #178
@neelabh2010 Thanks for reporting. 👍🏼

Will look into it.

[2021-02-08 22:47] JoelFernando209 opened #179 "Project LICENSE"
Hello, do the license of the project is MIT? Can you please specify the project license in Github? I actually cannot find it, i'm making an NPM package with the help of the API of this project and i don't know if i can use it... Thanks!

[2021-02-09 14:01] dr5hn commented on #179
@JoelFernando209 This is a Free Database, available all across the internet. You can use it for free.

There are already few NPM packages built using this DB.

[2021-02-09 15:03] JoelFernando209 commented on #179
Thanks for the answer!

[2021-02-09 15:03] #179 closed

[2021-02-11 14:15] miststudent2011 opened #180 "Add Country domain tld field in the list"
It would be nice if we have country domain tld  included in the list.

We can have refernce data from the below URL.

[country-by-domain-tld.json](https://github.com/samayo/country-json/blob/master/src/country-by-domain-tld.json)

It would also be good if we add other fields that are present in the referenced [repo](https://github.com/samayo/country-json).

[2021-02-12 10:04] dr5hn commented on #180
@miststudent2011 Thanks for the suggestion.

Will try to implement them soon.

[2021-02-18 14:33] Vikrant659 opened #181 "A lot of errors"
I was using this database. And there are a lot of errors. I.e.
The continents provided in countries table are outdated( e.g. Americas continent is not used anymore).
The State iso2 column have a lot of numeric values that are not valid.
There are many duplicate values in cities table as well.(For e.g. when selected Asia->India->Uttarakhand then Dehradun is coming twice)
Otherwise its the best I ha

[2021-02-20 12:00] dr5hn commented on #181
@Vikrant659 Thanks for reporting. 🎉

Regarding,
- Continents: If you have any good sources where i can get a accurate list of continents, please let me know.
- State [ISO2] Values - I grab a data from wikidata.org, If you've got any good source where i can get accurate list of ISO2 for all states, please let me know.
- Duplicates: Fixable, i've already got a Bug request from other user as well. It

[2021-02-20 14:43] #177 closed

[2021-02-20 14:43] #178 closed

[2021-02-20 14:43] #180 closed

[2021-02-20 14:43] dr5hn commented on #77
UPDATE: Fixed India's all cities encoding issues.

[2021-02-20 14:44] dr5hn commented on #181
UPDATE: Fixed India's Duplicate Cities.

[2021-02-22 09:51] Vikrant659 commented on #181
@dr5hn
Thanks for getting back in such short span of time and fixing some of the issues.
I don't know which tool do you use to scrap the data from those source but I do have some sources where you can find some accurate data:-

1) https://www.back4app.com/database/back4app/list-of-all-continents-countries-cities
 - You have to create app here and get data accordingly.

 2) https://ipinfodb.com/fre

[2021-02-25 19:43] Melchyore opened #184 "Spain: missing cities"
Hello!

First of all, thanks for this wonderful database!

I was testing the demo and I noticed that many Spain's states are missing cities (e.g. Madrid Province & Barcelona Province).

Keep up the good work!

[2021-02-26 08:56] dr5hn commented on #184
@Melchyore Thanks for reporting. 🎉

If you've got more examples, please post it here.

I will take a look at it soon.

[2021-02-26 13:02] Melchyore commented on #184
@dr5hn I'm not sure but I think that many cities are children of states "Andalusia", "Aragon", "Castile-La Mancha".

In fact, there are duplicates (e.g. Community of Madrid and Madrid Province, the first one has cities but not the second). I think some cities has endTime (not exist anymore) but are listed.

Some examples:
- Murcia province, Region of Murcia
- Community of Madrid, Madrid Province
-

[2021-03-02 06:52] dr5hn commented on #184
@Melchyore This is very helpful.

Thanks. I will take a look at it soon.

[2021-03-02 07:09] dr5hn commented on #181
@Vikrant659 Thanks for the sources info.

I will take a look at it soon. Probably gonna take a longer time to implement. I am doing my best to keep data accuracy at maximum level.

[2021-03-03 08:13] Funsom opened #185 "Different locations are assigned to the same Wikidata ID"
using this : select wikiDataId,count(*) from cities GROUP BY wikiDataId having count(1) > 1
result:
                   wikidataId    count(*)
                    Q24554	2
                    Q24413	2
                    Q1050185	3
                    Q3492826	2
                    Q234600	9
                    Q1023786	5
                    Q6742405	4
                    Q764279	7

[2021-03-05 09:02] faridmdnor opened #186 "Add City"
Please add new states to country Malaysia

WP Putrajaya
WP Labuan

[2021-03-06 13:11] dr5hn commented on #185
@Funsom Thanks for reporting. 🎉

I know about this issue. I will take a look at it soon.

[2021-03-20 11:56] DanielKucal opened #187 "[BUG] City listed in states of Poland"
Poland has 16 "states" (voivodeships, województw) while `csc.getStateOfCountry('PL')` returns 17, because there is one unwanted entry:
[code]
Kielce is a Polish capital city of Świętokrzyskie Voivodeship, not separate state.

https://en.wikipedia.org/wiki/Administrative_divisions_of_Poland

[2021-03-26 14:54] Melchyore opened #188 "Algeria has 10 new provinces (states/wilayas)"
Algeria has added recently 10 new provinces (wilayas) and has now 58 provinces: [Provinces of Algeria](https://en.wikipedia.org/wiki/Provinces_of_Algeria) (from 49 to 58)

- El M'ghair
- El Menia
- Ouled Djellal
- Bordj Baji Mokhtar
- Béni Abbès
- Timimoun
- Touggourt
- Djanet
- In Salah
- In Guezzam

Those new provinces were attached previously to other provinces.

[2021-03-28 16:34] dr5hn commented on #186
@faridmdnor Thanks for reporting 🎉.

Will add it soon.

[2021-03-28 16:35] dr5hn commented on #188
@Melchyore Awesome !! Thanks for the update !!

Will add them soon !!

[2021-03-29 01:31] Melchyore commented on #188
Thanks!

[2021-04-01 07:57] jabbawockeez opened #190 "I wonder where these data come from? Are they named in the same way as iso3166?"

[2021-04-01 09:32] dr5hn commented on #190
Hi @jabbawockeez

This data comes from this source ➡️ https://www.wikidata.org/wiki/Wikidata:Main_Page

ISO3166 are for country_codes you can find that in countries > iso3 column.

Hope this helps.

Thanks

[2021-04-11 07:39] #190 closed

[2021-04-11 14:53] dr5hn commented on #186
@faridmdnor These states and cities do already exist in DB.
![Screenshot 2021-04-11 at 8 19 46 PM](https://user-images.githubusercontent.com/6929121/114309124-c824e380-9b03-11eb-8cf3-a952e0499cca.png)

[2021-04-11 14:53] #186 closed

[2021-04-11 15:04] dr5hn commented on #187
@DanielKucal  Thanks for reporting. 🎉

Will fix it ASAP.

[2021-04-11 15:41] dr5hn commented on #181
@Vikrant659 I have confirmed from many sources and seems like numeric values in ISO2 are valid.
Even one of your suggested sources has the ISO2 as numerical values.

![Screenshot 2021-04-11 at 9 09 46 PM](https://user-images.githubusercontent.com/6929121/114310956-5dc37180-9b0a-11eb-9be5-b4d56bc10379.png)

[2021-04-11 15:54] dr5hn commented on #181
@Vikrant659 Regarding the continent we have divided our data into 2 columns region and subregion and this data are taken from the very latest and updated source [here](https://restcountries.eu/rest/v2/all?fields=name;alpha3Code;region;subregion).

[2021-04-11 16:16] #184 closed

[2021-04-11 16:16] #187 closed

[2021-04-11 16:16] #188 closed

[2021-04-11 16:22] #153 closed

[2021-04-11 17:50] Vikrant659 commented on #181
@dr5hn Thanks alot for looking into the matter and resolving it. Looking forward to use it in my project.
Again thankyou.

[2021-04-16 08:58] mr-vijaychauhan commented on #168
I have question related to this question about United Kingdom(UK). Here I facing a problem For Example United Kindom-> England -> London -> City of London or United Kingdom-> London -> City of London which is correct I don't know. but here problem when I selected United Kingdom then in  States data showing England and also City of London inside states data. No London Option Here and Showing all ci

[2021-04-16 11:03] nigelhorne commented on #168
@drakodev the first is the correct one.

[2021-04-16 15:28] dr5hn commented on #168
@nigelhorne Which one?

[2021-04-19 09:32] drfrostongithub opened #195 "Daylight saving times issues"
Just looking and using your countries+states.json, was using Australia, but it still using the old Daylight saving times, when aus didn't use it anymore, care to fix every DST? you can also have dstoffset field = true/false.

Thanks

[2021-04-19 11:25] dr5hn commented on #195
@drfrostongithub Thanks for reporting. 🎉

Yes, sure. Would you please let me know what will be the correct DST values that need to be updated?
Also adding one more field is a nice idea. Thanks

[2021-04-20 05:39] drfrostongithub commented on #195
@dr5hn Hi Dude,

You can look DST complete list here https://en.wikipedia.org/wiki/Daylight_saving_time_by_country

Hope this help your project.

[2021-04-22 18:47] mayank-mundhra-2012 opened #196 "You could update this db with GeoDB, World cities, GeoNames and WikiData data"
This DB is a good resource. It can be updated with both freemium and free data from GeoDB, World Cities, GeoNames and WikiData.

https://rapidapi.com/wirefreethought/api/geodb-cities/endpoints

http://geodb-cities-api.wirefreethought.com/

https://rapidapi.com/andruxnet/api/world-cities/endpoints

Keep it up!

[2021-04-23 06:35] #196 closed

[2021-04-23 06:38] #181 closed

[2021-04-23 06:42] dr5hn commented on #92
No reply from issue creator for a long time, hence closing this issue for now.

Anyone who can help resolve the queries I asked can feel free to reopen it.

[2021-04-23 06:45] #92 closed

[2021-04-27 14:19] cornelpopa opened #198 "County Mures and Maramures are mixed (and one is missing) in Romania"
Hi,

Some time ago I wrote you about the city Reghin Missing in Romania.  You were kind to add it for the moment "my" problem was solved.

But now I have realized that there is in fact a bigger problem in Romanian cities/states.

We have two (2) states (counties) with similar names:
1. Mureș County (https://en.wikipedia.org/wiki/Mure%C8%99_County)
2. Maramureș County (https://en.wikipedia.org/wiki

[2021-05-02 13:13] #198 closed

[2021-05-02 13:17] dr5hn commented on #198
@cornelpopa Thanks for reporting 🎉

Yeah, it's very tedious to update SQL files.

Well, I use MySQL and PHPMyAdmin to update those files. Since it's generated from PHPMyAdmin, it only shows different lines when pushing updated SQL files.

Anyways, I've fixed it, Please verify.

Thanks once again.

[2021-05-03 06:38] nilachandan opened #201 "American Samoa doesn't have it's corresponding states and cities"
I'm here, giving you just one example as in the case of "American Samoa". But many countries in your list, doesn't have its corresponding states. The list of countries with no states are as follows,

1. Aland Islands
2. American Samoa
3. Anguilla
4. Antarctica
5. Aruba
6. Bonaire, Sint Eustatius and Saba
7. Bouvet Island
8. British Indian Ocean Territory
9. Cayman Islands
10. Christmas Island
11.

[2021-05-03 12:25] moli0805 opened #202 "Whenever i am passing my value of state to a variable it is taking its isoCode."

[2021-05-03 12:49] #202 closed

[2021-05-03 12:55] dr5hn commented on #202
Is it solved?

[2021-05-05 10:52] moli0805 commented on #202
yes,

[2021-05-06 08:58] sourth-rain opened #203 "is this the WGS-84 standard"
thanks for your reply

[2021-05-06 09:06] dr5hn commented on #203
@sourth-rain

I just had a glance through this article 👉🏼 https://en.wikipedia.org/wiki/World_Geodetic_System

It looks like, These standards are irrelevant to this database.

Hope this answers your query.

[2021-05-06 14:41] silvarius opened #204 "In Russia, Volgogradskaya oblast is missing"
All is said in the title :-)

[2021-05-06 15:02] mortezafs opened #205 "ISO code for Iran (islamic republic of) states/provinces changed at 2020-11-24"
Hello.

I looked at the Iran's data and saw that the province's ISO codes were wrong and needed to be corrected.
The ISO keys of provinces in this country have changed on 2020-11-24.

Change of subdivision code from IR-01 to IR-03, IR-02 to IR-04, IR-03 to IR-24, IR-04 to IR-10, IR-05 to IR-16, IR-06 to IR-18, IR-07 to IR-23, IR-08 to IR-14, IR-10 to IR-06, IR-11 to IR-19, IR-12 to IR-20, IR-13 to

[2021-05-06 15:54] dr5hn commented on #204
@silvarius Thanks for reporting. 🎉

I will take a look at it soon.

[2021-05-06 15:55] dr5hn commented on #205
@mortezafs Thanks for reporting. 🎉

Awesome, I will fix it soon.

[2021-05-06 15:57] dr5hn commented on #201
@nilachandan Thanks for reporting. 🎉

I will mark it as an improvement and will take a look at it soon.

[2021-05-06 19:20] mortezafs commented on #205
Thanks.

I looked more closely and realized that Hamedan province and a number of cities do not exist in your data set and i can help you to complete Iran's cities data.
I am temporarily involved in a project, but I will soon correct the information of Iran and send it to you to replace with current data.

Regards.

[2021-05-07 04:42] kunalfleethawks opened #206 "final node_modules package size"
What is the final package size which will go in production build of any app? I see you have mentioned 387 MB. Is this source code size of package size?

Thank you very much for awesome library.

[2021-05-07 11:54] dr5hn commented on #206
@kunalfleethawks This is just a database repo.

However, there are two JS library which uses this database is
* [harpreetkhalsagtbit/country-state-city](https://github.com/harpreetkhalsagtbit/country-state-city)
* [ovictormacedo/country-state-city.js](https://github.com/ovictormacedo/country-state-city.js)

Assuming you're using one of them. They're currently using the JSON format of this database

[2021-05-14 08:40] devNoustack opened #207 "The State/Region/County listings for Norway is not correct (administrative reorganization in 2020)"
First of all, thank you for the time and effort you put into this project! :-)

FYI:

The Norwegian State/Region/County listings is not correct. The Norwegian parliament's reform reduced the number of counties from 19 to 11, which was implemented on 1 January 2020. The new counties is:

Troms og Finnmark
Nordland
Trøndelag
Møre og Romsdal
Vestland
Rogaland
Agder
Vestfold og Telemark
Viken
Oslo og

[2021-05-14 09:11] nilachandan commented on #201
Thank you.

[2021-05-17 12:06] dr5hn commented on #207
@devNoustack Thanks for reporting. 🎉

Really appreciated. Will take a look into it soon.

[2021-05-17 13:35] MattMacs opened #208 "The capital of Switzerland should be Bern"
Currently it's Berne (french style)

[2021-05-18 07:05] dr5hn commented on #208
@MattMacs Thanks for reporting. 🎉

Will fix it soon!

[2021-05-21 05:39] #206 closed

[2021-05-21 05:39] #203 closed

[2021-05-23 10:30] tjaoc opened #209 "Spain - Galician and others not is a State, is a Region"
The states:

https://en.wikipedia.org/wiki/Provinces_of_Spain

[2021-05-23 10:32] tjaoc commented on #209
Cities of States Galician

https://es.wikipedia.org/wiki/Anexo:Municipios_de_Galicia_por_poblaci%C3%B3n

[2021-05-23 10:37] tjaoc commented on #209
https://github.com/oscarnovasf/ccaa-provincias-municipios

[2021-05-24 05:32] johannww opened #210 "Working with sql/world.sql on postgres"
I have made some adaptations on 'sql/world.sql' to work on postgres.

It seems to work. If you wish, I can fork the repo, perform more tests and offer a pull request.

Johann.

[2021-05-24 07:33] dr5hn commented on #210
Hi @johannww,

That's awesome 🎉 Really appreciated it.

Since world.sql gets updated every time I fix the issues. Is there any way we can automate the conversion via Github action or script?

Moreover, please raise a PR and also if you can explain a process of conversion. I can easily figure out the way to automate it.

Thank you so much.

[2021-05-24 09:41] lastcoderz-codecaster opened #211 ""Hell's Kitchen" is not a city"
**Hell's Kitchen** in US_NYC is a neighborhood area (Q840133). Its city would be "New York City".

Wonder if there's an underlying issue causing this?!
Will report if I find similar cases. Thanks!

[2021-05-24 10:40] lastcoderz-codecaster commented on #211
Some similar examples producing noise in New York City are:
"Gramercy Park"
"Financial District"
"New York County" and "Manhattan" which I do believe are one and the same just different categorizations.

All of which should be supposedly areas in New York City; Not at the same level as NYC.

[2021-05-27 17:55] kunalfleethawks commented on #201
any updates on this?

[2021-05-28 22:22] RonaldTayie opened #212 "State codes"
### state_code
`{
        "id": 82065,
        "name": "Caloocan",
        "state_id": 1347,
        **"state_code": "00",**
        "country_id": 174,
        "country_code": "PH",
        "latitude": "14.64953000",
        "longitude": "120.96788000"
    }`
The state_codes are not consistent with the state code for Philippine states for all the cities of the Philippines.

[2021-05-29 10:07] RonaldTayie commented on #212
In the `cities.json` search for and delete all objects with **`"state_code": "00","country_id": 174,`**, there are about 36 objects.
I encountered the issue while loading the data into a database.

[2021-05-29 10:07] #212 closed

[2021-05-29 10:15] dr5hn commented on #212
@RonaldTayie Got it. Thanks for reporting.🎉

Does this issue resolved for you?

[2021-05-29 10:52] RonaldTayie commented on #212
YES

[2021-05-30 13:32] dr5hn commented on #201
@kunalfleethawks

TBH, This is gonna take a longer time than expected.

[2021-05-30 14:08] dr5hn commented on #201
@nilachandan //cc @kunalfleethawks

On Updates,
Tried to find the data from the sources but couldn't find data for any of the countries below. Except one Monaco.. For that I will add states in DB soon.

1. Aland Islands	AX
2. American Samoa	AS
3. Anguilla	AI
4. Antarctica	AQ
5. Aruba	AW
6. Bouvet Island	BV
7. British Indian Ocean Territory	IO
8. Cayman Islands	KY
9. Christmas Island	CX
10. Cocos (

[2021-05-30 15:41] dr5hn commented on #210
@johannww

Thanks, Mahn!! You're Awesome 🤩
This is really helpful. Gonna run some tests on the script and patch it with Github Actions.

Again Many Thanks.

[2021-05-30 15:43] dr5hn commented on #209
@tjaoc Thanks for Reporting. 🎉 Really appreciate it.

TBH, This update looks very huge. Gonna take a longer time.

[2021-05-30 16:16] dr5hn opened #213 "Fix India's State and Cities Namings"
However, I would like to bring to your notice that there are some cities that have been renamed and request you if these can be updated in the API.!

For example -
1. Currently the union territory Dadra and Nagar Haveli and Daman and Diu are displayed as two different options but these were recently announced as one union territory. ( you can refer -  [here](https://www.iso.org/obp/ui/#iso:code:31

[2021-05-30 16:20] #201 closed

[2021-05-30 16:20] #204 closed

[2021-05-30 16:20] #205 closed

[2021-05-30 16:20] #208 closed

[2021-05-30 16:20] #213 closed

[2021-05-31 03:52] jecfarolan360 opened #216 "Remove duplicates in cities"
Hello, does anyone knows how to filter/remove the duplicates cities or by their name only? Based on this note
[code]
I tried this one in vue js ```this.countryCities = [ ...new Set(this.countryCities) ]```

[2021-05-31 06:06] MartinsOnuoha commented on #216
@jecfarolan360 If you intend to filter the cities by their names, you can do a needle-haystack search using `Array.filter` on input change. What you have tried above only removes the duplicates in the `countryCities` array. Can you explain what you mean by "filter the duplicates"?

[2021-05-31 06:49] jecfarolan360 commented on #216
I'm sorry. I am complicated which is the right term, remove or filter duplicates but my intention is if there is two same city name is showing, I want to show only one in the dropdown/input box.

[2021-05-31 07:11] MartinsOnuoha commented on #216
@jecfarolan360 Oh, okay, Since you have the cities stored in `this.countryCities` You can do this on mounted.
[code]
You already got it right

[2021-06-01 18:04] tjaoc opened #217 "Portugal Error Cities in Viana do Castelo"
<img width="512" alt="Captura de pantalla 2021-06-01 a las 20 02 09" src="https://user-images.githubusercontent.com/6704635/120370123-784ce680-c314-11eb-9cc3-901108aaf594.png">

The X it's invalid, not exist.

And please remove the word "District" not fine for the world and to people of Portugal

[2021-06-02 06:53] BNG007 opened #218 "Issue in cities and state of United Kingdom"
There is No state of West Midlands in that. Also Birmingham is a city not state.
<img width="464" alt="Screenshot 2021-06-02 at 12 21 08 PM" src="https://user-images.githubusercontent.com/83267062/120436801-04a2ec00-c39d-11eb-85e5-8d7c396808df.png">

[2021-06-02 12:49] Amit270702 opened #219 "Data Related Issues"
I've been just trying to get data of cities from this package. When I checked that there is a **city missing** from the data.
City Name: Pilibhit
State Name: Uttar Pradesh
State Code: UP
Country: India

I tried to use getCitiesOfState, getAllCities & getCitiesOfCountry methods provided.

This city was there in earlier versions of this package. But I can not find it now. Please take a look.
Thanks

[2021-06-03 04:03] dr5hn commented on #217
@tjaoc Thanks for Reporting. 🎉

Will fix it soon.

[2021-06-03 04:04] dr5hn commented on #218
@BNG007 Thanks for reporting. 🎉

I think the issue looks similar to #168, Will try to look at it soon.

If you get some time, can you please check #168 as well?

[2021-06-03 04:05] dr5hn commented on #219
@Amit270702 Sure I will take a look at it soon.

[2021-06-03 06:01] BNG007 commented on #218
Yea. I guess i'm facing the same issue.

[2021-06-03 12:24] Srt9930 opened #220 "Can I use it in android with kotlin?"
I fell in love with this service and I want to implement it in my android app.
Are there any docs for it in kotlin?

Thank You!

[2021-06-03 13:13] devNoustack commented on #207
Hi again @dr5hn

Do you have an ETA when it can be resolved?

[2021-06-03 13:57] dr5hn commented on #207
@devNoustack No ETA..

As i see if i merge counties i need to accordingly move cities to proper counties.. and it's gonna take a good amount of time..

If you can help sorting this out by updating states.sql and cities.sql that would be great and raising a pull request.

Thanks

[2021-06-03 13:59] dr5hn commented on #220
@Srt9930 Glad you liked it 🤩 Thanks

This is just a raw database you can pick json format from this database and plug it in any language and use it.

There's no such documentation for particular language available at the moment.

[2021-06-06 06:46] #220 closed

[2021-06-06 06:47] #216 closed

[2021-06-06 09:24] #219 closed

[2021-06-06 10:22] dr5hn commented on #217
@tjaoc May I know why these cities aren't valid?

- Areosa
- Darque
- Meadela
- Mozelos
- Valenza
-  Vila Praia de Âncora

[2021-06-06 10:49] dr5hn commented on #217
@tjaoc However, I have removed the "District" word from Portugal states as of now. Will fix others soon.

[2021-06-06 18:13] VisiGod opened #227 "Wrong name or missing Countries"
First let me thank you for all the work you've put into this and take this issue as an improvement

"Croatia (Hrvatska)" - Should be named only "Croatia"
"Netherlands The" - Should be named "Netherlands" or "The Netherlands"
"Korea North" - Should be named North Korea
"Korea South" - Should be named South Korea
"England", "Northern Ireland", "Scotland", "Wales" don't exist (they are countries insi

[2021-06-07 05:57] pawanlapits opened #228 "Missing State and Cities for Iran"
Hi Team ,

There are some state and cities which are not available into your code base.  I will share a list of all those. can you please add into your database.

[2021-06-07 06:27] tjaoc commented on #217
@dr5hn  Valenza not is Valenza but Valença

The others not is a cities to State of Viana do Castelo

[2021-06-07 06:35] dr5hn commented on #227
@VisiGod You're most welcome.

The first 4 points are clear, the last one is doubtful. I will take a look at it soon and let you know if any questions.

[2021-06-07 06:36] dr5hn commented on #228
@pawanlapits Sure, please share a list. Thanks.

[2021-06-07 06:37] dr5hn commented on #217
@tjaoc Ok thanks for confirming. I will take a look at them again.

[2021-06-07 07:13] pawanlapits commented on #228
https://github.com/teamadlino/locations/tree/master/database/seeds

this library have complete list of iran state/province  and cities.   Please add missing item.

we need it very badly. thanks

[2021-06-07 07:28] dr5hn commented on #228
@pawanlapits Sure, will try my best to add them soon. Thanks.

[2021-06-07 07:28] pawanlapits commented on #228
please check all province and corresponding cities.  some province have incorrect cities

[2021-06-07 11:13] tjaoc commented on #217
@dr5hn I confirmed the States and it's ok.  Good Work

[2021-06-07 14:30] andreafdaf opened #229 "Wrong data"
Hi, so far I've found those errors in the data:
- Brazil -> Rio de Janeiro -> "Armação dos Búzios" is the correct one, "Armação de Búzios" is a duplicate with an incorrect name
- Italy -> Lombardy -> "Scanzo-Rosciate" is misspelled, the correct name is "Scanzorosciate"
- Italy -> All states (in Italy they are called "regions") -> There are a lot of "Provincia di ..." but provinces are an intermedi

[2021-06-08 08:40] tjaoc commented on #209
@dr5hn The List of States Spain, the others remove.

Albacete
Alicante
Almería
Álava
Asturias
Ávila
Badajoz
Islas Baleares
Barcelona
Bizkaia
Burgos
Cáceres
Cádiz
Cantabria
Castellón
Ceuta
Ciudad Real
Córdoba
Coruña
Cuenca
Gipuzkoa
Girona
Granada
Guadalajara
Huelva
Huesca
Jaén
León
Lleida
Lugo
Madrid
Málaga
Melilla
Murcia
Navarra
Ourense
Palencia
Palmas Las
Pontevedra
La Rioja
Salamanca
Santa Cruz

[2021-06-08 08:48] tjaoc commented on #209
If you what this repo https://github.com/oscarnovasf/ccaa-provincias-municipios have the Communities, Province and Cities with correct relationship.

[2021-06-09 03:14] pawanlapits commented on #228
Hi @dr5hn  any update on this ?

[2021-06-09 06:59] kunalfleethawks commented on #206
Thanks for clarification

[2021-06-09 07:03] dr5hn commented on #228
@pawanlapits Well, no update so far... TBH, it's gonna take a good amount of time. No ETA...

If possible, I will try to take a look this weekend.

Thanks

[2021-06-10 16:56] Dr-Phone opened #230 "Duplicate cities"
{
    "id": 1679,
    "name": "Arnoldstein",
    "latitude": "46.54611000",
    "longitude": "13.71000000"
},
{
    "id": 143784,
    "name": "Arnoldstein",
    "latitude": "46.55055556",
    "longitude": "13.70388889"
},

---

{
    "id": 143787,
    "name": "Bad Kleinkirchheim",
    "latitude": "46.81361111",
    "longitude": "13.79277778"
},
{
    "id": 143788,
    "name": "Bad Kleinkirchheim",

[2021-06-10 18:34] dr5hn commented on #230
@Dr-Phone Thanks for reporting. 🎉

I will look at it soon.

[2021-06-11 11:05] devNoustack commented on #207
Here is a updated list: https://docs.google.com/spreadsheets/d/1gagPfOTyt0IpMQUGP6LwsaIfnfzJ9MyRb26g4CMrBis/edit?usp=sharing

[2021-06-13 11:05] VisiGod commented on #227
Regarding the last issue, sometimes we need to select a specific country inside UK and since they aren't available, it's a deal breaker for some uses.

[2021-06-13 11:20] dr5hn commented on #227
@VisiGod Currently `"England", "Northern Ireland", "Scotland", "Wales"` These are marked as a States. So you mean we need to mark them as a country instead of States?

[2021-06-13 12:27] mpathy opened #231 "Information about data sources"
That it is safe for me and others to use, I would like to know how you gathered this data here - and what the licenses of the data sources are.

[2021-06-13 16:19] dr5hn commented on #207
@devNoustack There is a total of 668 cities/town currently in DB and according to your sheet, it's just 107 what about other cities/towns?

[2021-06-15 10:37] hirako2000 commented on #179
I think an explicit license would help a lot avoid ambiguity on what 'free' means.

[2021-06-15 18:38] dr5hn commented on #179
@hirako2000 //cc @JoelFernando209

Done. Added License. 👍🏼

[2021-06-16 07:05] dr5hn commented on #231
@mpathy Thanks for putting this up. 🎉

Added LICENSE to this repo. Let me know if this helps.

[2021-06-17 07:44] maheshdama13 opened #232 "Add Pincode in the Cities table"
I know it's a big enhancement but it will be helpful if you add the Pincode of all the cities.

[2021-06-17 07:46] #232 closed

[2021-06-17 07:47] #231 closed

[2021-06-17 07:47] #124 closed

[2021-06-21 09:42] jacy33 opened #236 "A comprehensive list of possible duplicates"
Hello! :)

I've prepared a list of possible duplicated cities(4341 records) by iterating through every city looking for any corresponding record with a **distance of fewer than 500 meters**.

There's also a `Hi-Conf` column in the spreadsheet indicating matching the names of the two cities. For starters, it's okay to start out by pruning the Hi-Conf ones.

Each city is repeated only once in the sh

[2021-06-21 10:18] oguzhanbulut commented on #230
@dr5hn example data:

Turkey -> Yozgat -> Akdagmadeni
Turkey -> Yozgat -> Akdagmadeni İlcesi

[2021-06-22 15:06] dr5hn commented on #236
@jacy33 Thanks for putting effort into the findings. 🎉  Really appreciated.

I will check it out soon and let you know if anything is required.

[2021-06-23 06:42] kishanio opened #237 "TS Support"
Is it possible to generate / add declaration files for typescript?

Let me know if you require assistance for this.

[2021-06-23 06:44] dr5hn commented on #237
@kishanio Are you referring to this NPM Package ? 👉🏻 https://github.com/harpreetkhalsagtbit/country-state-city

This is just a RAW DB repository.

[2021-06-23 06:51] kishanio commented on #237
@dr5hn Oops. My bad. I'll open issue on same.

[2021-06-23 06:51] #237 closed

[2021-06-23 19:00] franzgithub25 opened #240 "Eastern Visayas State (Philippines) don't have any countries, which is wrong."
Eastern Visayas State (Philippines) don't have any countries, which is wrong. Wrong data

[2021-06-27 15:00] bregoh commented on #210
@dr5hn did you make postgresql work?

[2021-06-27 15:22] dr5hn commented on #210
@bregoh No.. not yet maybe i will take up next week...

[2021-06-28 01:38] iamhitya opened #242 "States latitude, longitude missing in countries+states+cities.json file."
All States latitude, longitude missing in countries+states+cities.json file.

![image](https://user-images.githubusercontent.com/18601967/123567373-9e648a00-d7df-11eb-87c8-265e68a1c6d8.png)

[2021-06-29 09:02] tjaoc opened #243 "States from Spain"
[code]

[2021-06-29 09:03] tjaoc commented on #243
Remove the Comunities

[code]

[2021-06-30 16:37] dr5hn commented on #242
@iamhitya Thanks for reporting. 🎉

Will fix it soon.

[2021-06-30 16:38] dr5hn commented on #240
@franzgithub25 Didn't quite understand the problem. Can you please explain via some screenshots?

Thanks

[2021-06-30 16:40] dr5hn commented on #243
@tjaoc Thank you so much.

I will take a look at this soon.

[2021-06-30 16:43] dr5hn commented on #211
@lastcoderz-codecaster Sorry for the delayed response.

Thanks for reporting. I will take a look at it soon.

[2021-07-01 10:26] iwowpao opened #246 "if specify only 1 country"
can you please share sample code if I only need Brazil state and cities?  how can I do?

[2021-07-01 11:27] dr5hn commented on #246
@iwowpao That's a really good question.

I was thinking to build a tool that allows you to select and export the state and cities of your want. But that's something gonna take a while.

However you can request for an API Key here.
https://countrystatecity.in/request

And you can make the following requests to get the output.
https://api.countrystatecity.in/v1/countries/BR/states -- This will fetch

[2021-07-01 12:59] iwowpao commented on #246
I tried the index.html under /docs and it is exactly how I want to demo.
What if without API, how can I simulate as BRAZIL is clicked?
I am not sure if I know how to use your APIs to integrate into my form.

[2021-07-02 03:30] iwowpao commented on #246
In most of cases, a site may need only few countries (state/city) options.  If the tool can be capable to do multiple select and export the states/city, that will be much great.  I am very new to JS, otherwise I would love to create more options based on your code.  It is a very good tool and thank you for sharing.

[2021-07-04 21:05] VisiGod commented on #227
@dr5hn I think they should be marked as countries and not states. California is a US state as West Midlands is a region of England.

All four are countries in my understanding:
England - https://en.wikipedia.org/wiki/England
Northern Ireland - https://en.wikipedia.org/wiki/Northern_Ireland
Scotland - https://en.wikipedia.org/wiki/Scotland
Wales - https://en.wikipedia.org/wiki/Wales

Or you may che

[2021-07-07 14:54] ArashZich opened #247 "Request an API check"
Dear Darshan Gada
I am a programmer from Iran. Currently, I am developing an application.
In my application, I used the API announced on your site. It seems that some parts do not work properly in the new update that you have created in the API. For example, locations in Iran and Turkey do not work properly. The states of Iran and Turkey are doing well, but the cities shown for each state are wron

[2021-07-07 15:32] dr5hn commented on #247
@ArashZich

Regarding Iran, I've got one issue submission here. ISO code previously entered was incorrect.
https://github.com/dr5hn/countries-states-cities-database/issues/205

If you see, there's been a major update in ISO code, and the source of the correction is from the official site of the ISO.

As per my assumption, you are passing old ISO code and hence it's returning to the wrong cities.

[2021-07-07 15:33] ragubyun opened #248 "Translate country name into Korean."
Hi, team.

I just translated country name into Korean and added it to countries.sql and world.sql.

[2021-07-07 15:36] dr5hn commented on #248
@ragubyun Thank you, Really appreciate your efforts !!

Can you please raise a pull request?

[2021-07-07 15:37] ragubyun commented on #248
#249 🙏

[2021-07-10 15:38] ArashZich commented on #247
Dear Darshan Gada
Thank you for your response.
According to the link "https://www.iso.org/obp/ui/#iso:code:3166:IR"
which is the main ISO code, for example: “IR-30 Alborz” is for Alborz State,
but with the link https://api.countrystatecity.in/v1/countries/[ciso]/states/[siso]/cities
If we give it “IR-30 Alborz”, instead of the cities of Alborz state, it shows the cities belonging to “IR-09 Khorāsā

[2021-07-11 10:27] dr5hn commented on #248
@ragubyun Once again thank you so much for your contribution.

[2021-07-11 10:27] #248 closed

[2021-07-11 10:28] #246 closed

[2021-07-12 20:09] Baku452 opened #252 "Missing Bogota state in Colombia country"
There´s missing the state of Bogotá in Colombia
![image](https://user-images.githubusercontent.com/32407895/125349377-1d4edc00-e323-11eb-9fd5-951b7c06bd38.png)

[2021-07-12 20:25] Baku452 opened #253 "Missing Loreto state in Perú Country"
![image](https://user-images.githubusercontent.com/32407895/125351134-52f4c480-e325-11eb-96fe-e9ad9c585ec3.png)

[2021-07-12 20:25] Baku452 opened #254 "Prague weird names"
![image](https://user-images.githubusercontent.com/32407895/125351194-6869ee80-e325-11eb-9d25-b710b44c0d45.png)

[2021-07-13 14:04] matiasrojastoro opened #255 "Chilean Cities Updated .XLSX"
Im sending you an updated list order by Region.
I hope help you!
[chileanCities.xlsx](https://github.com/dr5hn/countries-states-cities-database/files/6809426/chileanCities.xlsx)

[2021-07-14 03:48] i7eo opened #256 "complete"
This data is far more complete than Shopify's, and although it will cost me a lot more time to clean up the data, thank you anyway! 👍

[2021-07-14 04:05] dr5hn commented on #256
@i7eo  you're welcome.

Btw what type of cleanup required?

If you get this data cleanup, would you mind sharing here?

[2021-07-14 05:19] i7eo commented on #256
Just like Shopify address data.
I'll come back and submit the PR when I'm done.😉

[2021-07-15 06:14] dr5hn commented on #247
@ArashZich Yes, you're right!

API DB is not up to date. Will update it soon.

[2021-07-15 09:19] abdullahsalma opened #259 "ERROR importing states.sql"
importing states.sql show this MySQL error from phpmyadmin

--------------
Error
SQL query:

CREATE TABLE `states` (
  `id` mediumint(8) UNSIGNED NOT NULL,
  `name` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `country_id` mediumint(8) UNSIGNED NOT NULL,
  `country_code` char(2) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fips_code` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `iso2`

[2021-07-15 09:21] i7eo commented on #256
I find some errors in this `countries+states+cities.json` data.

Four countries not have phone_code., like:

[code]

[code]

[code]

[code]

[2021-07-15 09:25] dr5hn commented on #259
@abdullahsalma You need to drop cities table first and then import states and cities again.

[2021-07-15 09:31] dr5hn commented on #256
@i7eo I've taken phone_code from this source.

[2021-07-15 09:33] i7eo commented on #256
All right, I'll check again

[2021-07-15 12:40] #259 closed

[2021-07-15 12:41] abdullahsalma commented on #259
That is right. I appreciate it.

[2021-07-15 13:23] abdullahsalma opened #260 "cities.sql"
`"31373", "Mansourah"`
and
`"31374", "Mansoûra"`

City in Algeria, `المنصورة` can be written both the previous cities. I believe these are duplicates. the correct form ends with `h`.

like my name. Abdullah. You can write Abdulla. still, be correct, but Abdullah is more accurate.

https://www.google.com/maps/place/Mansourah,+Algeria/@34.8723325,-1.3888449,13z/data=!3m1!4b1!4m5!3m4!1s0xd78c872578de

[2021-07-16 16:40] joaorb64 opened #262 "Missing Kōchi Prefecture in Japan"
I noticed Kōchi Prefecture is missing from the database. Its state id is 39.

https://en.wikipedia.org/wiki/K%C5%8Dchi_Prefecture

[2021-07-17 10:19] dr5hn commented on #260
@abdullahsalma Both are different. Hence closing.

[2021-07-17 10:19] #260 closed

[2021-07-17 10:25] dr5hn opened #264 "Eastern Visayas State (Philippines) don't have any countries, which is wrong."
### Discussed in https://github.com/dr5hn/countries-states-cities-database/discussions/239

<div type='discussions-op-text'>

<sup>Originally posted by **franzgithub25** June 24, 2021</sup>
Eastern Visayas State (Philippines) don't have any countries, which is wrong. I found that cities of Eastern Visayas is found in Batanes</div>

[2021-07-17 10:25] dr5hn opened #265 "Update States & Cities"
### Discussed in https://github.com/dr5hn/countries-states-cities-database/discussions/245

<div type='discussions-op-text'>

<sup>Originally posted by **vivi23102001** June 30, 2021</sup>
Can you update states & cities in Viet Nam? It's wrong.</div>

[2021-07-17 10:38] dr5hn commented on #264
Duplicate of #240

[2021-07-17 10:38] #264 closed

[2021-07-18 06:25] #218 closed

[2021-07-18 11:07] dr5hn commented on #255
@matiasrojastoro Fixed in #266

[2021-07-18 11:13] #255 closed

[2021-07-18 11:13] #217 closed

[2021-07-18 11:13] #230 closed

[2021-07-18 11:13] #236 closed

[2021-07-18 11:13] #240 closed

[2021-07-18 11:13] #242 closed

[2021-07-18 11:13] #252 closed

[2021-07-18 11:13] #253 closed

[2021-07-18 11:13] #254 closed

[2021-07-18 11:13] #262 closed

[2021-07-18 11:14] dr5hn commented on #265
Fixed in #266

[2021-07-18 11:14] #265 closed

[2021-07-18 11:27] #77 closed

[2021-07-18 11:28] dr5hn commented on #77
No more encoding complaints from anyone, hence closing.

[2021-07-18 11:29] #195 closed

[2021-07-18 11:35] dr5hn commented on #236
@jacy33 I reviewed the sheet and found that this isn't the ideal way to solve duplicates. Hence closing.

I successfully removed 400 records of duplicates by a different method of matching exact city name match and if those both cities lies in same state.

[2021-07-20 06:54] apurba-biswas-9 opened #270 "Some country Cities are not available can you please help to resolve this issue"

[2021-07-20 07:32] dr5hn commented on #270
@apurba-biswas-9

This issue has been reported earlier and here are the countries which do not have cities available.
https://github.com/dr5hn/countries-states-cities-database/issues/201

[2021-07-20 10:39] abdullahsalma opened #271 "countries.sql"
id 194 Saudi Arabia.
correct native is المملكة العربية السعودية instead of العربية السعودية (never been used).
المملكة العربية السعودية means Kingdom of Saudi Arabia.

https://en.wikipedia.org/wiki/Saudi_Arabia
".. officially the Kingdom of Saudi Arabia.."
on the right, you can see it as ٱلْمَمْلَكَة ٱلْعَرَبِيَّة ٱلسَّعُوْدِيَّة. But that is too formal for website use, we write it as المملكة العر

[2021-07-21 07:47] #270 closed

[2021-07-23 07:07] dineshkp opened #272 "License clarification"
Hello, I would like to use the database for an API we are building in our organisation. The purpose is to be able to fetch countries, states and cities for use in drop-downs. There can also be scenarios where we may add missing cities to the database.

My doubt is:  the license (ODbL) requires disclosing source, does that mean only the modified database we would be building/using or the source cod

[2021-07-24 10:15] dr5hn commented on #272
@dineshkp
I believe, It's about a modified database only.

[2021-07-24 10:15] dr5hn commented on #271
@abdullahsalma Which one is the final one?

[2021-07-24 15:09] joaorb64 commented on #227
The first 4 I think would be very helpful changes. In all data I work on using this repo's data, these come up as special cases because of how their names are configured; while the data on the other side is always configured with the suggested names.

[2021-07-25 15:56] dr5hn commented on #227
@VisiGod //cc @joaorb64 I've fixed the first 4 naming issues.

The Remaining needs more brainstorming. Will tackle them later.

[2021-07-26 09:12] crocco95 commented on #229
Hi, I am encountering the same issue, in Italy, we have just 21 "states" called "Regions" (or in Italian "Regioni").

In this Wikipedia page you can find them all https://en.wikipedia.org/wiki/Regions_of_Italy , I can provide you the complete list formatted in JSON if you need 😃

[2021-07-26 11:16] dr5hn commented on #229
@crocco95 Gotcha, But...

As @andreafdaf Said

There needs to be another intermediate nesting level to manage the Administrative divisions between regions and cities.

This is something I don't think it's possible.

My thoughts: I would rather clean up the states properly and put Administrative in cities table? Will that gonna work?

[2021-07-26 13:19] crocco95 commented on #229
I appreciate your fast response and I got your point. In my opinion, in Italy, the province is very similar to the concept of the city because of its geographical extension and population.
In the general discussion, the province is intended as a city containing a principal city with the same name as the province and really small cities with few people. For example, "The province of Bologna" has in

[2021-07-26 20:00] PCJPablo opened #280 "Outdated Province info for the Democratic Republic of the Congo"
Katanga Province is still listed as a province for the Democratic Republic of the Congo but was split up in 2015 into Tanganyika, Haut-Lomami, Lualaba, and Haut-Katanga.

[2021-07-27 06:51] dr5hn commented on #280
@PCJPablo Thanks for reporting 🎉 Will take a look at it soon.

[2021-07-27 18:06] mariohmol opened #281 "Install Package"
Would be great if u could provide this to be installed as a npm package!!

thanks for the awesome repo!

[2021-07-27 18:56] dr5hn commented on #281
@mariohmol Sure.. here you go

https://www.npmjs.com/package/country-state-city

[2021-07-27 23:59] mariohmol commented on #281
awesome!!!! thank you.. if u could put it on readme will help people to find out!

thanks a lot!

[2021-07-27 23:59] #281 closed

[2021-07-28 07:08] dr5hn commented on #272
@dineshkp Does it solved your doubt?

[2021-07-28 07:09] dr5hn commented on #247
@ArashZich The API DB has been updated to the latest. You may now have the correct mapping of states and cities.

[2021-07-28 07:09] #247 closed

[2021-07-29 15:37] tien-oii opened #282 "thailand"

[2021-08-01 11:41] dr5hn commented on #272
Closing this issue for now. Please feel free to open an issue.

[2021-08-01 11:41] #272 closed

[2021-08-01 14:12] dr5hn commented on #229
@crocco95 On the official ISO website it is displayed under country as subdivisions. https://www.iso.org/obp/ui/#iso:code:3166:IT

Looking at this, I realized if I am moving provinces to cities then the cities attached to that province will also need modifications. And that will become a huge update which I don't want because many users are using this way only.

So instead of moving the things her

[2021-08-01 14:59] #280 closed

[2021-08-01 14:59] #282 closed

[2021-08-01 15:01] dr5hn commented on #282
Added missing state `Chaiyaphum` and its cities.

[2021-08-02 06:57] dineshkp commented on #272
@dr5hn Apologies for the delay. I am still not clear about it.

Is it sufficient if only the modified database is made available open-source? We are building pipelines to help maintain the database stay up to date with the source and also support custom changes/corrections if required. We may not be able to fork your repository as such, is that ok ? We can add a credit in the README file if requir

[2021-08-02 07:12] dr5hn commented on #272
@dineshkp Yes, that's completely fine. Don't worry too much about the license.

Credit in README will work as well.

[2021-08-02 07:44] dineshkp commented on #272
@dr5hn Thank you!

[2021-08-03 13:04] abdullahsalma commented on #271
المملكة العربية السعودية

[2021-08-07 17:25] feliperaul opened #286 "world.sql can't be imported twice - will fail with Cannot add foreign key constraint"
First of all, congrats on this amazing and useful project.

The world.sql file should be idempotent, which means it should be run again and again; when you update world.sql here, it would be a matter of downloading it and running it again.

However, if you run the world.sql file twice, you'll succeed the first time, but fail on all subsequent attempts:

[code]

That line contains `CREATE TABLE `co

[2021-08-09 12:17] feliperaul opened #287 "Wrong state name in Brazil - Federal District"
State ID 2017, `Federal District`, should be named `Distrito Federal`.

[2021-08-10 09:48] dr5hn commented on #286
@feliperaul Thanks for reporting. 🎉

I know about this annoying issue, I will spend some time and take a look at it.

[2021-08-10 09:48] dr5hn commented on #287
@feliperaul Thanks for reporting. 🎉

I will fix that up soon.

[2021-08-10 14:43] crocco95 commented on #229
Hi @dr5hn , sorry for the delay but I was on summer vacation.
I think your solution it's actually good! Thanks for your patience.

[2021-08-10 17:24] feliperaul commented on #286
@dr5hn As a quick-fix, we just added these 3 lines at the top of world.sql and it solves the problem.

[code]

[2021-08-11 13:58] keiruu opened #288 "Wrong cities listed (Philippines)"
The cities in Western Visayas in the Philippines are all bunched up in the state Antique which is incorrect.

[2021-08-11 14:41] dr5hn commented on #286
@feliperaul Thanks so much for the solution. However, I need to find a way to automate this fix.

[2021-08-17 12:48] emresaracoglu opened #289 "DB vs JSON file and DB-Schema"
Hello,

Is it correct to import country, region, and city data into the database or use it over JSON?

It seems fine if I use it over the JSON file. Because I think this information is constantly updated. Therefore, it will be more comfortable to refresh the current information.  What is your idea about this?

Also, are only database schema files available?

Thank you.

[2021-08-18 10:11] dr5hn commented on #289
@emresaracoglu Hi,

Both ways look good to me.

There are always some goods using JSON format.
- If you're using only a few columns from SQL then prefer using JSON format.
- It will be easier to put a script on a cron job and get the data updated regularly.

It was available previously, but I removed it. As it increased the manual work of updating them. You can easily grab them from `countries.sql

[2021-08-20 09:51] alexandru-bagu commented on #168
The current database format cannot accommodate the regions in UK. Should there maybe be another table called regions? Most countries would not have regions but some do, like UK or Italy.
Would it be possible to add another table then for regions which would handle the case we have for UK? Say for UK we would have 4 regions, each region would have its own states and each state would have its own ci

[2021-08-23 08:43] emresaracoglu commented on #289
Hello @dr5hn

Thank you for your answer & your repo!

[2021-08-23 15:36] gustavoburbano opened #290 "UK Countries"
I lived in Wales for 2 years near Carmarthen, maybe I can help.
The issue with the UK is that it is a kingdom that has countries (which are England, Wales, Scotland, and Northern Irland) and it is not divided as other countries generally are. Each of those countries are more or less independent in many aspects, for example, Wales has a different language that is called Welsh (very different than E

[2021-09-07 05:17] #289 closed

[2021-09-07 05:22] dr5hn commented on #290
@gustavoburbano Thanks for the brief.

However, this topic is already is in Discussion
https://github.com/dr5hn/countries-states-cities-database/issues/168
https://github.com/dr5hn/countries-states-cities-database/issues/227

[2021-09-08 11:50] ray-man opened #291 "Saudia State Cities not mapped according to Source"
In mentioned source's demo Saudia's state `Eastern Province` has many cities but this library provides 0 cities in `Eastern Province`
<img width="1377" alt="Screenshot 2021-09-08 at 4 48 22 PM" src="https://user-images.githubusercontent.com/15623007/132504143-35de02d2-a6b6-4230-9518-7b72226b2d6a.png">

[2021-09-23 16:33] nicmorais opened #294 "Very long city name"
There's a city called "Rd pt des Chataigniers, Rte de Milizac, Guilers, Finistère, France", which is the longest one in the CSV. Is this correct?

[2021-09-24 05:09] dr5hn commented on #294
@nicmorais That looks fishy 🐟 . Thanks for Reporting.

Will take a look at it ASAP. 🎉

[2021-09-24 05:10] dr5hn commented on #291
@ray-man Thanks for reporting. 🎉

Will take a look at it soon.

[2021-09-24 05:11] dr5hn commented on #288
@keiruu Thanks for reporting. 🎉

I will take a look at it soon.

[2021-09-24 21:44] Mateozmaldonado17 opened #296 "Get details of a city"
Hi everyone!

I am deeply grateful for the work of the creator of this API and at the same time, I feel a duty and responsibility to improve it, even with opinions.

I feel that we should have an endpoint to be able to obtain the city and its details, even if it is the ciso and the siso of it, why?

It is important to make the information stored in the databases correct, imagine that someone darin

[2021-09-25 14:37] #296 closed

[2021-09-25 14:44] nicmorais commented on #294
I think it's is a road in France, not a city. The actual "city" is named Guilers.

[2021-09-26 11:05] dr5hn commented on #286
@feliperaul Added a script to automate the process. https://github.com/dr5hn/countries-states-cities-database/commit/d416c1ccc818fe6d91b616f495fff4bcf6695b28

Won't be an issue anymore. Hence closing.

Once again thanks for the solution.

[2021-09-26 11:05] #286 closed

[2021-09-26 11:42] dr5hn commented on #294
@nicmorais Ok Thanks for the solution. I will fix it up.

[2021-09-26 12:30] dr5hn commented on #291
@ray-man I can see many cities listed for `Eastern Province` in the screenshot. Are you referring this issue is in API?

[2021-09-26 13:25] #229 closed

[2021-09-26 13:25] #271 closed

[2021-09-26 13:25] #291 closed

[2021-09-26 13:50] dr5hn commented on #287
@feliperaul Fixed in https://github.com/dr5hn/countries-states-cities-database/commit/9aee2506c7705df6122e0342ac2f16cee7c3de66

[2021-09-26 13:50] #287 closed

[2021-09-26 13:50] nicmorais commented on #294
So, it seems like my issue was not fixed... Also, the there's a city named "Poselok Turisticheskogo pansionata "Klyazminskoe vodohranilische"" in Russia, can't we shorten this?

[2021-09-26 13:55] dr5hn commented on #294
@nicmorais Guilers is being exported.

What about these city names? Do you have a solution for these as well?

[2021-09-26 14:05] nicmorais commented on #294
Ok.
Translating that name to English it says "Settlement of the Tourist Boarding House "Klyazminskoe Reservoir"". We could just leave this as "Poselok "Klyaz'minskoye vodokhranilishche"" or similar... If so, the longest city name will have 59 characters, then you can also edit the SQL file to make it create a table with a smaller field for the cities names.

[2021-10-06 15:20] digitalkingsley opened #306 "A Missing City In Benue"
Hi,

Thanks for the great work you're doing. It's awesome!

I took a look at your demo here: [](https://dr5hn.github.io/countries-states-cities-database/) and noticed that the State **Benue** has a missing City, called **Gboko**.

See: [](https://en.wikipedia.org/wiki/Gboko)

Thanks again for the work you do.

[2021-10-08 15:29] buko opened #307 "cities.xml should include WikiDataID"
First of all great work on this project. Thanks so much for taking the time to put this all together and making it free.

I notice based on the 'Contribution Guidelines' that the cities.xml file is apparently generated from the SQL dump, cities.sql. I was very interested to note that the cities.sql file seems to include wikiDataIds, but the cities.xml file doesn't include this information. Would i

[2021-10-09 01:32] ldavidsp opened #308 "Add currency name"
`
    "currency": "USD",
    "currency_name": "Dollar",
    "currency_symbol": "$",
`

[2021-10-09 06:13] buko commented on #307
Probably makes sense to include wikiDataId in all the generates cities data including cities.csv.

[2021-10-09 11:11] buko commented on #307
@dr5hn  There is no standard ID field for Cities like for countries that all have ISO-3166 fields.

Our plan is to enrich cities.xml/cities.csv with additional information. We want to add information to these records and produce a new database that includes latitude,longitude and some other information. The goal is to create a program that:

1. Read in the cities.xml file.
2. Create ~140k new smal

[2021-10-11 07:12] dr5hn opened #309 "Missing Cities and Regions for country_code TZ"
### Discussed in https://github.com/dr5hn/countries-states-cities-database/discussions/305

<div type='discussions-op-text'>

<sup>Originally posted by **doublezze** October  5, 2021</sup>
Hi Darshan and Team, the database is fantastic! great work!

Browsed database and noticed two Regions (Mbeya and Songwe) are missing  in states and cities.

I don't know if this a data issue or the reason for th

[2021-10-13 16:13] Bazoqa opened #312 "Missing Town in NJ"
Hello,

There is a town missing in your data set, Mantua Township, NJ, USA. (https://en.wikipedia.org/wiki/Mantua_Township,_New_Jersey)

Would appreciate it if you could add it to your database soon, thank you for all the hard work!

[2021-10-13 17:24] dr5hn commented on #312
@Bazoqa Thanks for reporting 🎉

Will take a look at it soon.

[2021-10-14 22:09] LawrenceAddo opened #313 "Missing States in GHANA (GH)"
States in Ghana have been updated from 10 to 16, with the new states as follows;
1. Greater Accra Region
2. Central Region
3. The Eastern Region
4. Western Region
5. Ashanti Region
6. Northern Region
7. Upper East Region
8. Upper West Region
9. Volta Region Read
10. Brong Ahafo Region
11. Oti Region Read  **>Cities>>**Biakoye, Nkonya Ahenkro, Jasikan, Kadjebi, Krachi East, Krachi West, Nkwanta Nor

[2021-10-15 14:46] francis150 opened #314 "Some Parts of the Philippines are missing some places"
Hi, Thanks for creating this wonderful and useful API. I just noticed that some places in the Philippines are missing and some states have wrong cities.
Would love to help out on this since this is where I'm from. Let me know. 😊
Thanks! 👋

[2021-10-17 21:46] rickygzz commented on #314
Could you state which ones?

[2021-10-22 09:34] digital53 opened #316 "anyone has clean record of the cities without using cultural"
Pure asci without special character City records is what I m looking for that has connection with the state and countryname

[2021-10-23 17:50] erenakbulut-q opened #317 "Correct list of Istanbul's districts (or cities)"
Hi,
Here is the correct list from wikipedia: https://en.wikipedia.org/wiki/List_of_districts_of_Istanbul

Current one has wrong entries like "Adalan", "Boyalık" etc.

[2021-10-24 09:20] #316 closed, assigned to nobody

[2021-10-29 08:37] d668 opened #318 "wrong district for Agios Tychonas n Cyprus"
Agios Tychonas is a town in the Limassol District of Cyprus
https://en.wikipedia.org/wiki/Agios_Tychonas

[2021-10-30 16:23] #318 closed

[2021-10-30 16:23] #317 closed

[2021-10-30 16:26] #312 closed

[2021-10-30 16:33] dr5hn commented on #103
Closing this as it is being solved chunk by chunk.

[2021-10-30 16:34] dr5hn commented on #207
Closing this until the next reply.

[2021-10-30 16:37] #256 closed

[2021-10-30 16:38] dr5hn commented on #288
@keiruu Do you have a list of correct cities for the Philippines states?

[2021-10-30 17:19] dr5hn commented on #313
@LawrenceAddo Update is in progress.

[2021-11-02 08:44] keiruu commented on #288
This should be a good list! [https://www.philippinesvisa.com/regions-and-provinces/](url)

[2021-11-03 08:52] Yekbun opened #324 "Cities of Basel-Stadt State in Switzerland"
Hello,
There are no city associated  with Basel-Stadt . According Wikipedia there are 3 items

- Basel
- Bettingen
- Riehen

INSERT INTO `cities` (`id`, `name`, `state_id`, `state_code`, `country_id`, `country_code`, `latitude`, `longitude`, `created_at`, `updated_at`, `flag`, `wikiDataId`) VALUES
(149067, 'Basel', 4957, 'BS', 214, 'CH', '47.554722', '7.590556', null, null, 1, null),
(149068, 'Bet

[2021-11-03 18:34] getandplay opened #325 "Keelung is not a Chinese province, it is just a city"
Keelung is not a Chinese province, it is just a city.
![image](https://user-images.githubusercontent.com/3829760/140171562-8c48a587-6e36-49e2-b9dc-1d9063fb82e9.png)

[2021-11-08 06:21] dr5hn commented on #324
@Yekbun Thanks for reporting. 🎉

This is awesome, will add them soon.

[2021-11-08 06:21] dr5hn commented on #325
@getandplay Thanks for reporting 🎉

I will take a look at it soon.

[2021-11-08 06:23] dr5hn commented on #288
@keiruu Thanks for the list. Will fix it soon.

[2021-11-10 23:55] edgewl2 opened #328 "Nicaragua departament missing"
I was checking the files, and I didn't find Nueva Segovia Departament of Nicaragua.

The departament  has 12 municipalities:
1. Ciudad Antigua
2. Dipilto
3. El Jícaro
4. Jalapa
5. Macuelizo
6. Mozonte
7. Murra
8. Ocotal
9. Quilalí
10. San Fernando
11. Santa María
12. Wiwilí

[2021-11-12 13:47] AsadAyyub opened #329 "Missing State and City Data"
Following Country have missing state or City Data

Albania
Algeria
Antigua And Barbuda
Argentina
Azerbaijan
Bahamas The
Bahrain
Bangladesh
Barbados
Belgium
Bermuda
Bhutan
Bosnia and Herzegovina
Botswana
Burkina Faso
Burundi
Cape Verde
Chad
China
Colombia
Congo
Cote D'Ivoire (Ivory Coast)
Czech Republic
Democratic Republic of the Congo
Equatorial Guinea
Fiji Islands
Finland
France
Georgia
Greece
Gu

[2021-11-13 13:44] #313 closed

[2021-11-13 14:23] #294 closed

[2021-11-13 14:23] #324 closed

[2021-11-13 14:23] #328 closed

[2021-11-13 14:24] dr5hn commented on #324
@Yekbun Fixed in https://github.com/dr5hn/countries-states-cities-database/commit/82f2891085e4e20d123a095187a8959175d70b4f

[2021-11-13 14:24] dr5hn commented on #294
@nicmorais Fixed in https://github.com/dr5hn/countries-states-cities-database/commit/cd5876fb73e31f95374974a50542e5ab091329d9

[2021-11-13 14:25] dr5hn commented on #328
@edgewl2 Thanks for reporting. 🎉

Fixed in https://github.com/dr5hn/countries-states-cities-database/commit/2c1844161d8ca416504642640b425893a0350bc0

[2021-11-13 14:35] dr5hn commented on #329
@AsadAyyub

Did you mean there are 0 states and cities inside those countries or only some?

[2021-11-13 14:55] dr5hn commented on #314
Closing this as #288 has a similar concern.
However, #288 is More precise of what list to follow.

@francis150 Please follow #288

[2021-11-13 14:55] #314 closed

[2021-11-13 15:26] edgewl2 commented on #328
Thanks to you  @dr5hn! 😀

[2021-11-16 08:24] ValueHome opened #333 "Karnatka states city name spelling need to be corrected"
Great effort sir... keep going.

Cities names need to be corrected, details are below:

Country: India
State: Karnataka

Cities name to be changed as below:
Bangalore as Bengaluru (Bengaluru Rural; Bengaluru Urban)
Mangalore as Mangaluru
Mysore as Mysuru
Bellary as Ballary
Bijapur as Vijayapura
Belgaum as Belagavi
Chickmagalur as Chikkamagaluru
Hubli as Hubballi
Gulbarga as Kalaburgi
Tumkur as Tum

[2021-11-16 08:34] ValueHome commented on #308
@ Luis Solorzano, it is good idea!

[2021-11-17 07:12] dr5hn commented on #333
@ValueHome Please don't call me sir! I am just 29!

Thanks for reporting. 🎉 Will correct them soon!

[2021-11-17 10:49] ValueHome commented on #333
if you need, I can help in updating this.

[2021-11-18 10:28] Shashi-GS opened #334 "Missing Rosebery Australia City in New South Wales"
Could you please add the city Rosebery to New South Wales Australia?

https://en.wikipedia.org/wiki/Rosebery,_New_South_Wales

I am listing out some more. Probably will post those later.

How long it will take to reflect in the REST API services?

--
Thanks,
Shashi

[2021-11-18 14:21] dr5hn commented on #334
@Shashi-GS Thanks for reporting. 🎉

Will get it added soon.

Re: API
I usually do it once in 4 months, not sure when will I do it next.

You can fetch from this Repo once updated.

[2021-11-21 02:48] Shashi-GS commented on #334
Thank You for quick response. We found one more city is missing.
https://en.wikipedia.org/wiki/Yallah,_New_South_Wales

As we have used this service in our production. Is it possible to deploy early, these changes?

[2021-11-27 06:41] dr5hn commented on #329
Closing issue until answered.

[2021-11-27 06:41] #329 closed

[2021-11-27 11:14] #325 closed

[2021-11-27 11:14] #334 closed

[2021-11-27 11:14] dr5hn commented on #325
@getandplay
* Removed Keelung from China province and Added it to Taiwan.
* Added missing Tianjin municipality to China & its cities

[2021-11-27 15:08] dr5hn commented on #334
@Shashi-GS Updated the DB in Rest API. Cheers \m/

[2021-12-01 14:05] jas0nt opened #337 "should NOT consider HK(Hong Kong), MO(Macau), TW(Taiwan) as countries"
they are part of China

[2021-12-01 14:43] dr5hn commented on #337
@jas0nt One of the users said, "Hong Kong is a country and also a city." https://github.com/dr5hn/countries-states-cities-database/issues/78

So bit confused now 😕

Please help.

[2021-12-01 15:00] jas0nt commented on #337
According to [wikipedia](https://en.wikipedia.org/wiki/Hong_Kong): "Hong Kong is a city and special administrative region of China".

Some places classify Hong Kong as a "country/region", but definitely not a "country".

[2021-12-03 08:32] Steevoh120 opened #338 "City Mismatch"
In Kenya, Thika is in Kiambu County not Nairobi County. Thika is one of the biggest Towns in Kenya, and this causes confusion among, I realized so many people in my database are in Thika but the county is incorrectly Labelled. Kindly fix this for future users

[2021-12-05 07:49] dr5hn commented on #338
@Steevoh120 Ok thanks for reporting. 🎉

Will take a look at it soon.

[2021-12-07 01:20] josegabrielcruz opened #339 "States/Regions in France"
There seems to be some issues with the state/region data for France. For instance, some cities (like Paris) appear in the response data. Also, according to this wikipedia page: [https://en.wikipedia.org/wiki/Regions_of_France](url), there are only 18 regions in France. But the response for that request returns a lot more entries than that.

[2021-12-07 05:21] yasirmehmood123 commented on #247
@dr5hn Hi,
i have request the Apikey for this but haven't got yet its has been more than a day now

[2021-12-07 05:32] dr5hn commented on #247
@yasirmehmood123 Please read the FAQs section.
https://countrystatecity.in/faq/#-how-much-time-it-will-take-to-receive-api-key

[2021-12-07 05:36] yasirmehmood123 commented on #247
@dr5hn thanks
let me wait for a day more :)

[2021-12-07 05:37] dr5hn commented on #339
@josegabrielcruz Thanks for reporting. 🎉

Usually, I grab data from ISO official site here.
https://www.iso.org/obp/ui/#iso:code:3166:FR

It contains a mixture of following subdivisions
95 metropolitan department (en) / département métropolitain (fr)
12 metropolitan region (en) / région métropolitaine (fr)
1 dependency (en) / dépendance (fr)
5 overseas collectivity (en) / collectivité d'outre-mer

[2021-12-08 01:25] josegabrielcruz commented on #339
I see. So once the `type` is added I should be able to use it as a filter, correct?

[2021-12-08 05:33] dr5hn commented on #339
@josegabrielcruz Yes, correct.

[2021-12-09 18:51] ksbhatiya opened #341 "Can you update States.csv file with new column country_name? Thanx for the database of all city, state and country"

[2021-12-11 15:02] #308 closed

[2021-12-11 15:02] #333 closed

[2021-12-11 15:02] #338 closed

[2021-12-11 15:02] #339 closed

[2021-12-11 15:02] #341 closed

[2021-12-11 16:13] ValueHome opened #344 "Add Locality/Area names and cities Pin Codes / Zip."
Could you please add Locality/Area names and Pin Codes / Zip.

[2021-12-16 16:39] Shashi-GS commented on #334
Thank You,

We found some more suburbs missing. Please add these two as well to new south wales.

Banksmeadow :

https://en.wikipedia.org/wiki/Banksmeadow

Whale Beach:
https://en.wikipedia.org/wiki/Whale_Beach,_New_South_Wales

[2021-12-16 16:40] Shashi-GS opened #345 "Banksmeadow and Whale Beach of NSW Australia is missing."
Thank You,

We found some more suburbs missing. Please add these two as well to new south wales.

Banksmeadow :

https://en.wikipedia.org/wiki/Banksmeadow

Whale Beach:
https://en.wikipedia.org/wiki/Whale_Beach,_New_South_Wales

[2021-12-17 13:21] Shiba-Kar opened #348 "Images for states and cities required."

[2021-12-17 14:37] tranghan opened #349 "Missing cities in Vietnam"
I found that there are only 467/709 cities at current. Can you please update the cities in Vietnam? I am very appreciative!!

[2021-12-18 23:11] evancampbell opened #352 "Wrong WikiDataIds for some cities"
There are cases where the wikiDataId is just not correct. For some reason this seems to vary by the country. Italy for example has lots of these issues. The city of Naples:

140713,Naples,1669,72,Campania,107,IT,Italy,40.85216000,14.26811000,Q30028139

Q30028139 points to the village of Nanno.

Bangladesh is another problem country. This time, many of the Ids will instead point to the district or

[2021-12-20 05:57] dr5hn commented on #345
@Shashi-GS Thanks for reporting. 🎉

Will take a look at it soon!

[2021-12-20 05:59] dr5hn commented on #348
@Shiba-Kar Can you please elaborate on what sort of images you require?

[2021-12-20 06:01] dr5hn commented on #349
@tranghan Thanks for reporting. 🎉

I would be grateful if you can share an information source of the correct Vietnam cities.

[2021-12-20 06:03] dr5hn commented on #344
@ValueHome Unfortunately, this is not possible at the moment. As it's a huge task in itself.

However, this is already on my Pending list here. https://github.com/users/dr5hn/projects/1/views/4

Hence closing this issue.

[2021-12-20 06:03] #344 closed

[2021-12-20 06:05] dr5hn commented on #352
@evancampbell Thanks for reporting.

However, it has been already reported by someone else long ago. So it's kind of a known issue and will resolve slowly.

Duplicate #185

Hence closing.

[2021-12-20 06:05] #352 closed

[2021-12-20 16:58] Shashi-GS commented on #345
@dr5hn , It is really helpful if you can do it quickly. We are using the service as part of the production. Is there any way I can help you guys to do these missing things?

[2021-12-20 18:11] dr5hn commented on #345
@Shashi-GS Unfortunately i am on holiday until next 2 weeks. These updates will be done in Mid January Next Year.

I don't usually update API service too frequently as it affects api performance.

[2021-12-22 13:34] spekulatius commented on #337
One should study the history of Taiwan and maybe even take a trip to Taiwan. Then this question is answered ;)

[2021-12-22 17:00] Ocean-Blue commented on #337
About Taiwan, you can watch this video, starting from 1:50
https://www.youtube.com/watch?v=zWdPzWHdnFE&t=181s

You can consider Taiwan vs. China like North/South Korea

[2021-12-28 10:51] AlameenAzad opened #353 "missing Istanbul city"
The following endpoint doesn't contain Istanbul as a city.

 https://api.countrystatecity.in/v1/countries/TR/cities

[2022-01-02 18:11] Shiba-Kar commented on #348
Placeholder images for cities and states...

[2022-01-03 07:16] dr5hn commented on #348
@Shiba-Kar I still don't understand can you please explain your use case?

[2022-01-03 14:25] MathiMate opened #354 "Missing Neighborhood in Argentina"
For Buenos Aires there are only 10 options but there are more (48).
You can see the full list here at the left of the window  https://www.buenosaires.gob.ar/laciudad/barrios

[2022-01-03 14:29] MathiMate opened #355 "Missing neighborhood in Uruguay-Montevideo"
For Montevideo the full list here at https://es.wikipedia.org/wiki/Anexo:Barrios_de_Montevideo#Barrios_de_la_ciudad_de_Montevideo

[2022-01-05 16:48] ozziest commented on #329
@dr5hn , I can answer it for Turkey.

Turkey doesn't have any states, we only have cities.

[2022-01-06 23:27] SamuelCarreau opened #356 "Type of state of Canada should be "province""
The type of Canada's state should be "province" except for Yukon, Nunavut and Northwest Territories (those are territories)
https://www.statcan.gc.ca/en/reference/province

[2022-01-09 14:18] moolotfy opened #359 "In Egypt, There is a state that does not exist"
In Egypt, there are only 26 governorates out of 27, please add the Sharqiyah governorate 'State' quickly thanks for understanding
![image](https://user-images.githubusercontent.com/62478801/148686095-21a14f70-a603-4a4d-9539-5c80b11b3a68.png)

[2022-01-11 07:13] dr5hn commented on #359
@moolotfy Thanks for reporting. 🎉

Will take a look at it soon.

[2022-01-11 09:13] ustunsoz commented on #353
Istanbul is not City, it is a state as per format!

[2022-01-11 09:28] #353 closed

[2022-01-13 19:27] moolotfy commented on #359
@dr5hn Thanks, Please do this quickly because customers of this state are unable to register,
BR,
Thanks.

[2022-01-13 23:08] joshxyzhimself commented on #288
The official data for this can be found at the Philippine Standard Geographic Code (PSGC) published by the Philippine Statistics Authority (PSA).

- https://psa.gov.ph/classification/psgc/

At the right part of the page, there is a "Latest Release" section with the "Publication.xlsx" file.

![image](https://user-images.githubusercontent.com/60829711/149422604-9a8359f3-97d4-434b-bc9a-19786b19346d.p

[2022-01-13 23:11] joshxyzhimself commented on #288
Also it should be noted that Philippines has the concepts of "Municipalities" which are like small cities.

[code]

- https://en.wikipedia.org/wiki/Municipalities_of_the_Philippines

The heirarchy goes like:

[code]

[2022-01-14 06:24] dr5hn commented on #359
@moolotfy I will try to fix this ASAP.

[2022-01-14 12:38] moolotfy commented on #359
@dr5hn Thanks

[2022-01-16 06:14] dr5hn commented on #348
Closing until answered.

[2022-01-16 06:14] #348 closed

[2022-01-16 13:20] #345 closed

[2022-01-16 13:20] #356 closed

[2022-01-16 13:20] #359 closed

[2022-01-17 09:16] braaar commented on #207
Hello there! I am interested in resolving this issue and would be happy to contribute.

Here is an overview over the exact changes that were made 2018-2020:

| Old counties | New, merged county | Capital |
| ------------- | ------------- | ----------- |
| `Hordaland`, `Sogn og Fjordane` | `Vestland` | `Bergen` |
| `Vest-Agder`, `Aust-Agder` | `Agder` | `Kristiansand` |
| `Sør-Trøndelag`, `Nord-Trø

[2022-01-17 09:40] braaar commented on #207
I'll start a PR this week.

[2022-01-17 21:40] Freelenzer opened #362 "JSON and CSV Country Table does not contain "wikiDataId""
The countries.json and countries.csv files do not contain any "wikiDataId" while the cities.json has some.

The countries.sql files contains that data.

Is there any way to add this data to the json file?

[2022-01-19 05:34] dr5hn commented on #362
@Freelenzer Purposely not added due to limit the sizes of file.

However, you can edit the code and generate them using this file.
https://github.com/dr5hn/countries-states-cities-database/blob/master/scripts/export.php

[2022-01-20 06:43] #362 closed

[2022-01-20 07:57] braaar opened #364 "Make the contributing guidelines more useful"
I'm currently taking a stab at correcting the data for Norwegian states (or counties as we call them in Norway) from #207

I'm finding it a little hard to understand exactly how I am meant to source some of the data. It's not clear what the lat/long coordinates are supposed to represent. WikiDataId is fair enough.

I suggest we make some tables that explain the fields. Some of this information see

[2022-01-20 08:30] braaar opened #365 "Data entry GUI - make it easy for the community to correct bad data and add new data"
I think this project needs a high degree of crowdsourcing in order to sustainably maintain the validity of the data. Countries, states and cities change over time, and a diverse group of contributors is a huge benefit for this world-spanning data set.

Therefore I would propose that a GUI is built where users can look up countries, states and cities and view the data, and right from the GUI propos

[2022-01-20 17:32] andy-soft opened #367 "Wrong + Missing Cities in || Argentina > Buenos Aires Province > Cities"
Hi there, I am searching and building GEO-GIS information and saw this database, downloaded it , all OK
But when searched for a simple Municipality in my country, WOW! not found

you should revise there is a District inside Buenos Aires Province, called CABA, (Ciudad Autónoma de Buenos Aires) Autonomous City of Buenos Aires, and there inside are sub-district or neighborhoods (called Barrios)  you

[2022-01-21 07:35] braaar commented on #367
This project includes only three levels of geographical information:
Country, state and city.

Obviously each country separates itself into organizational or historical units in many different ways, and it's not possible to fit every country into the same mold in a flawless way.
I am not aware of any plans to add new categories to this project, as the scope would probably easily get out of hand. I

[2022-01-22 05:41] dr5hn commented on #207
@braaar Thanks for showing interest in contributing to the project.

I usually grab the states related information from the official site here. https://www.iso.org/obp/ui/#iso:code:3166:NO

And for coordinates, I search for that location in Google maps, copy the lat and long from the URL and paste it into MySQL Workbench / TablePlus / sequel ace.

Hope that answers your query. 👍🏼

[2022-01-22 05:48] dr5hn commented on #364
@braaar Thanks for the suggestions. 🎉

This is awesome. Sure, please go ahead and add it in https://github.com/dr5hn/countries-states-cities-database/blob/master/.github/CONTRIBUTING.md.

Answers to your query:
* I have to fill up `created_at` with `NOW()`.
* the `updated_at` fills up automatically.
* `latitude` and `longitude` I search for that location in Google maps, copy the lat and long from

[2022-01-22 07:13] braaar commented on #207
Thanks for the reply, that is very helpful

[2022-01-22 10:07] dr5hn commented on #367
@andy-soft Thanks for reporting. 🎉

I only understood that Argentina requires 4 levels of geographical information.
I didn't clearly understand the actual issue of Buenos Aires, can you please reframe and elaborate it to me?

At the moment, I would like to keep only 3 levels of information and discard the 4th level of information.

@braaar For some of the countries, the 4th level is also mixed on

[2022-01-22 11:04] dr5hn commented on #365
@braaar Thanks for your suggestion. Really appreciate. 🙇🏼‍♂️

I liked your suggestions.
Obviously, it's quite time-consuming with the SQL updates.

I think if we're going to use Tooljet we have to self-host it somewhere. Because as per the tool, it says "ToolJet does not store any data returned from your data sources."

Continue User Story:
11. Proposed changes will be stored in a separate table.

[2022-01-22 11:06] dr5hn commented on #354
@MathiMate Thanks for reporting. 🎉

Will take a look at it soon.

[2022-01-22 11:06] dr5hn commented on #355
@MathiMate Thanks for reporting. 🎉

Will take a look at it soon.

[2022-01-22 13:55] andy-soft commented on #367
Buenos Aires is a Province, inside this Province there are Municipalities
(like Districts) and inside those Districts there are Cities (mostly one of
the cities has the same name of the municipality,, specially if there are
no further subdivisions)
The thing is wrong because you used as cities the subdivisions of the
Autonomous City of Buenos Aires called CABA (before a political change this
was n

[2022-01-22 18:03] ProBidPro opened #373 "Cities SQL "state_id" Numbers are Off by 207"
I've installed the Country, State and Cities Database's using the "SQL" inserts and re-combined it together into 1 Database Table for my needs, but in doing so I discovered that all the "state_id" numbers in the "cities" Table are off by 207.

Adding 207 to the original "state_id" re-aligns all the Cities correctly to the proper States.

Example: 123444, 'Oliver Springs', 1454, 'TN', 233, 'US', ..

[2022-01-24 07:46] braaar commented on #365
Absolutely I'll help! Do you think ToolJet could be a nice tool to use? We can do some testing running it on our local machines first, I suppose. Is there a database already set up where we could make these suggestion tables?

I suppose we could eliminate a lot of complexity for the first iteration of this service by setting all of this up in a local environment where the contributors would run a

[2022-01-24 11:27] steminist-ua opened #374 "Wrong city name"
Please correct in the country Ukraine the city of Odesa (Odessa is wrong).

[2022-01-26 05:14] soeurngsar opened #375 "Cambodia does not have state"
For a country like Cambodia, it does not have the state and all the state that you store it just the province.
Some provinces can be called city as well e.g. Battambang province we can call Battambang city also.

Please study this situation and correct it.

Thank for your hard work,

[2022-01-26 16:57] joaorb64 opened #376 "Brazil: "Amazonas" and "Santa Catarina" states do not have lat/lng"
I'm not sure on how to contribute on this one, but I noticed this data is missing.
If there's any default procedure for this, please let me know and I'll go for a PR!

[2022-01-27 04:54] dr5hn commented on #376
@joaorb64 Here you go!
https://github.com/dr5hn/countries-states-cities-database/blob/master/.github/CONTRIBUTING.md

[2022-01-27 05:05] dr5hn commented on #374
@steminist-ua Thanks for reporting. 🎉

Will fix it soon.

[2022-01-27 05:07] dr5hn commented on #365
Not sure if ToolJet's is the right fit for our project, but we can give it a try!

I think that's a good idea for the initial phase.

[2022-01-27 05:07] dr5hn commented on #373
@ProBidPro Thanks for reporting. 🎉

Will take a look at it soon.

[2022-01-27 05:08] dr5hn commented on #375
@soeurngsar Thanks for reporting. 🎉

That's a bit tricky to handle. However, the overall goal of the project is to maintain 3 levels of data and discard the 4th level.
Let me know if your findings fit this philosophy.

[2022-01-27 11:31] soeurngsar commented on #375
Thank for your time, if you want to keep tree level of the data please note that some countries doesn't have state in that case state is empty and move the state level to city level. I'm sure that many countries in ASEAN follow this rules.

[2022-01-27 12:18] joaorb64 commented on #376
Done! https://github.com/dr5hn/countries-states-cities-database/pull/377 :)

[2022-01-27 12:22] braaar commented on #375
Canada doesn't have states, it has provinces and territories. The state level in this project is used to represent Provinces such as Ontario, British Columbia, etc.

Norway doesn't have states, it has counties. The state level in this project is used to represent counties in Norway like Agder and Nordland.

Cambodia's 24 (de facto 25) provinces seems like a perfect fit for the state category in my

[2022-01-27 16:53] the-douglas-soares opened #378 "American Samoa appears as State inside United States"
American Samoa appears as a country and as State inside United States

![image](https://user-images.githubusercontent.com/4245622/151405058-28ffb40c-8a55-4b8f-9560-5dd72f8db733.png)

[2022-01-28 06:26] dr5hn commented on #378
@the-douglas-soares Thanks for reporting. 🎉

Btw, which one is correct?

[2022-01-28 06:31] dr5hn commented on #375
@soeurngsar We can't leave state-level empty as MySQL is a relational database. We have to maintain a parent-child relationship.

In order to fix this type of issue, we've added a column `type` in the state. Which justifies what type of record it is.

I think putting them into the `states` table and filling the `type` column will justify the data.

https://iso.org/obp/ui/#iso:code:3166:KH

[2022-01-28 07:35] soeurngsar commented on #375
Ok, thank for your recommendation.
I will follow your rules then.

[2022-01-28 10:25] #376 closed

[2022-01-28 13:40] braaar opened #379 "Why is everything duplicated?"
It seems like a poor choice to duplicate all the SQL source code by having the same stuff in eg. `cities.sql` and `world.sql`.

Why is that a thing?

[2022-01-29 00:11] rikr2sanchez opened #380 "Puerto Rico States are missing"
![image](https://user-images.githubusercontent.com/19697749/151637919-2d8fde84-6d96-4137-bcc6-796cee1d604a.png)

[2022-01-29 12:00] dr5hn commented on #379
@braaar If you see the `world.sql` file closely it has SQL queries for all 3 tables together. And `cities.sql` has only a cities table.

[2022-01-29 12:09] dr5hn commented on #367
@andy-soft

It would be great if you can please provide a CSV dump.

[2022-01-29 12:41] dr5hn commented on #364
@braaar Can you please review the PR?

[2022-01-29 13:15] #355 closed

[2022-01-29 13:15] #374 closed

[2022-01-29 13:16] dr5hn commented on #380
@rikr2sanchez Thanks for reporting. 🎉

I will take a look at it soon.

[2022-01-31 08:42] braaar commented on #364
@dr5hn I have actually been working on my own version of this. https://github.com/dr5hn/countries-states-cities-database/pull/384

[2022-01-31 08:57] braaar commented on #379
The way I see it, `world.sql` basically contains all the contents of `cities.sql`, `states.sql` and `countries.sql` added together. So why are we writing all the source code twice?

[2022-01-31 09:52] dr5hn commented on #379
@braaar I've purposely kept the standalone files as well. For ex: if the user wants only `countries` data then he can directly grab `countries.sql`.

Similarly, if he needs only `countries and states` he can grab `countries.sql` and `states.sql`. Likewise for `countries and cities` as well.

[2022-01-31 09:53] dr5hn commented on #364
@braaar Oh, I see! Ok, no problem.

[2022-01-31 10:11] braaar commented on #379
Would it not be possible with some tooling to set it up so that we only need to make changes in once file, and the other file(s) can be generated by a script (for example in a github action)?

[2022-01-31 10:15] dr5hn commented on #379
Awesome idea! Never imagined it.

Yes it can be done. I will get it implemented.

Thanks

[2022-02-01 05:40] Shashi-GS opened #385 "Huntingwood and Eagle_Farm cities are missing in Australia."
Hi,

Could you please update the DB with these cities of Australia.

Huntingwood, 2148  NSW (https://en.wikipedia.org/wiki/Huntingwood,_New_South_Wales)
Eagle Farm, 4009  QLD (https://en.wikipedia.org/wiki/Eagle_Farm,_Queensland)

--
Thanks,
Shashi

[2022-02-01 09:55] ZenithClown opened #386 "Latitude & Longitude Missing from Punjab (PB), State in India"
Latitude and Longitude are missing from CSV, and JSON Files.

[2022-02-02 23:51] babyrusa commented on #378
I believe Samoa is a US's territory. So I think it makes sense if it falls under "states and territories"

[2022-02-02 23:54] babyrusa opened #388 "Missing a city in US"
Hi, thanks for this amazing library.
I wasn't able to test all of the cities or states but I did come across a missing city "Dartmouth" in Massachusetts state in the US
https://en.wikipedia.org/wiki/Dartmouth,_Massachusetts

[2022-02-03 13:19] ikram3mkaissi opened #389 "ARABIC"
This database does support arabic language in traslations?

[2022-02-03 16:59] dr5hn commented on #389
Nope

[2022-02-05 09:06] ZenithClown commented on #379
This will also help in keeping all the updated information in one place, and everything can be automated from there!!

[2022-02-05 18:05] yyyyy1111122 opened #390 "Request an API Key"
I submitted an API key request 5 days ago, but you didn't submit it. When will you send the key?

[2022-02-05 18:32] dr5hn commented on #390
@yyyyy11111122 What's your email?..

[2022-02-05 19:12] yyyyy1111122 commented on #390
wwweb2401@gmail.com

[2022-02-06 17:21] dr5hn commented on #390
Hope you have received key now

[2022-02-07 07:51] yyyyy1111122 commented on #390
Yes. Thank you

[2022-02-07 07:58] #390 closed

[2022-02-11 15:49] topaloff opened #392 "Miss city"
Hello, this town is missing hazlet new jersey

Thanks

[2022-02-19 16:17] Freelenzer opened #393 "Some States have 'wikiDataId' value MANUAL"
4852	Ladakh
4862	Hamilton Municipality
4865	Saint George's Municipality
4880	Ciudad Autónoma de Buenos Aires

Have the wikiDataId set to "MANUAL" what does that mean?
Is this a bug or where does this data come from?

Thanks in advance. I really would like to help improve this project :)

[2022-02-21 06:57] dr5hn commented on #393
@Freelenzer I was keeping that in my earlier developments of this database. Not needed anymore. I will replace them with the actuals soon.

[2022-02-21 06:57] dr5hn commented on #392
@topaloff Thanks for reporting. 🎉
I will add that soon!

[2022-02-21 18:41] Nazariy opened #394 "UA information is outdated"
Hello,

Just noticed that some regions are missing and have old names, can you please update it according to ISO 3166?

https://www.iso.org/obp/ui/#iso:code:3166:UA

Also entire region Poltava is missing (ISO UA-53 | FIPS UP18)
https://en.wikipedia.org/wiki/Poltava_Oblast

[2022-02-22 13:48] fabiuhp commented on #380
Inside the database already have the data about Puerto Rico. Puerto Rico is a state of USA.

[2022-02-23 01:32] octocat-1 opened #395 "Remove tab characters from data"
Please remove the tab characters `\t` from data

"id": 3636
"name": "San Luis\t"

"id": 2278
"type": "autonomous region\t"

"id": 2267
"type": "special administrative region\t"

"id": 2269
"type": "autonomous region\t"

"id": 2262
"type": "autonomous region\t"

"id": 4921
"type": "capital district\t"

"id": 5035
"name": "Bas-Rhin\t"

"id": 5055
"name": "Haute-Vienne\t"

"id": 4971
"name": "Hautes-

[2022-02-23 14:01] scriptcoded opened #396 "Sweden duplicate cities"
Hi there, what a wonderful repo :tada: Good job!

I noticed that the list of Swedish cities has quite a few duplicates. To be precise, many Swedish cities have municipalities with the same name, and they seem to have gotten into the list as well. Here's an example:

("kommun" = "municipality")

- Lund
- Lunds Kommun
- Åstorp
- Åstorps Kommun
- Kävlinge
- Kävlinge Kommun

We'll just remove the ` Ko

[2022-02-24 01:18] octocat-1 opened #397 "Incorrect country name: "Bahamas The""
"id": 17,
"name": "Bahamas The"

This should be "Bahamas" or "The Bahamas"

[2022-02-24 06:04] 350887156 opened #398 "Request API Key"
No email received
sclea1988@gmail.com

[2022-02-24 06:45] dr5hn commented on #398
@scalea your email id?

On Thu, 24 Feb 2022, 11:35 am sclea, ***@***.***> wrote:

[2022-02-25 05:52] dr5hn commented on #398
@350887156 Please confirm if you've received API key.

[2022-02-25 05:52] dr5hn commented on #397
@octocat-1 Thanks for reporting. 🎉

I will fix it ASAP.

[2022-02-25 05:59] dr5hn commented on #395
@octocat-1 Sure, will fix it ASAP.

[2022-02-25 06:37] octocat-1 opened #399 "Incorrect city name "Saint-Côme--Linière""
"id": 16936
"name": "Saint-Côme--Linière"

City name should only have a single hyphen...
Saint-Côme-Linière

[2022-03-04 10:37] bimaldave opened #400 "Morningside (Pittsburgh) Missing"
Hey,

Please note that Morningside (Pittsburgh) is missing from the cities:

https://en.wikipedia.org/wiki/Morningside_(Pittsburgh)

[2022-03-07 15:24] FabienDrouin opened #404 "Missing cities in Ireland"
There is 29 "states" for Ireland (IE) in the state table but only 5 are available in the cities tab.
Therefore, several cities are missing in relation to these states.
Ex. : Limerick (city) , County Limerick (LK)

[2022-03-09 02:12] febtech opened #405 "A city called Ranipet is missing in the state of Tamil Nadu in India"
As per the official records that are maintained on Wikipedia as well, Ranipet and Tirupathur are supposed to show up as cities in the state of Tamil Nadu in India. I hope you will cross-check the same, add it to the list and update me when it's done -

https://en.wikipedia.org/wiki/List_of_cities_in_Tamil_Nadu_by_population

[2022-03-11 23:12] MostafaMobed opened #406 "State details not found error for Iran States"
Hi, Thank you for your useful API.
Issue:
Get all Cities by state is ok but calling detail of same state : 404: error: "No State/Region Found."

https://api.countrystatecity.in/v1/countries/IR/states/23/cities --> 200OK
https://api.countrystatecity.in/v1/countries/IR/states/23 --> 404

[2022-03-12 13:37] moolotfy opened #407 "country-state-city - Sync database updates"
Hi,
Could you please sync the database updates on the 'country-state-city' package?
because the database is not syncing your updates.

Thanks @dr5hn

[2022-03-13 07:38] #379 closed

[2022-03-13 08:13] #375 closed

[2022-03-13 08:14] dr5hn commented on #349
Closed until answered.

[2022-03-13 08:14] #349 closed

[2022-03-13 08:20] #385 closed

[2022-03-13 08:21] dr5hn commented on #386
@ZenithClown Added. https://github.com/dr5hn/countries-states-cities-database/commit/6114e903a78e97c6f9d4fdb5fb89fd6fe18b7669

[2022-03-13 08:21] #386 closed

[2022-03-13 09:56] #388 closed

[2022-03-13 10:20] #394 closed

[2022-03-13 10:20] #389 closed

[2022-03-13 10:23] dr5hn commented on #373
@ProBidPro 1454 is the correct state_id.
Cause state with 1661 belongs to Switzerland

[2022-03-13 10:23] #373 closed

[2022-03-13 10:23] #398 closed

[2022-03-13 10:32] dr5hn commented on #378
@the-douglas-soares Yes, it's correct according to the Official ISO Website.
https://www.iso.org/obp/ui/#iso:code:3166:US

[2022-03-13 10:32] #378 closed

[2022-03-13 10:36] #392 closed

[2022-03-13 10:44] #393 closed

[2022-03-13 10:57] #396 closed

[2022-03-13 10:57] dr5hn commented on #396
@scriptcoded Fixed.

[2022-03-13 10:59] #397 closed

[2022-03-13 11:04] #395 closed

[2022-03-13 11:05] #399 closed

[2022-03-13 11:09] #400 closed

[2022-03-13 11:16] #405 closed

[2022-03-13 11:20] dr5hn commented on #406
@MostafaMobed Thanks for reporting. Will fix it ASAP.

[2022-03-13 11:27] dr5hn commented on #407
@moolotfy Done. https://github.com/harpreetkhalsagtbit/country-state-city/pull/85

Ask repo owner to merge it now!

[2022-03-13 11:27] #407 closed

[2022-03-13 11:34] febtech commented on #405
@dr5hn - thanks a lot, bruh!

[2022-03-13 11:40] dr5hn commented on #404
@FabienDrouin Thanks for reporting. 🎉

Let me know if you've got those missing details, it would help me to add to DB easily.

[2022-03-13 20:09] Sujon-Ahmed opened #412 "countries-states-cities-database/sql/cities.sql upload error"
When I import the cities.sql file in the local PHPMyAdmin database file then it's not uploaded completely!

![Screenshot_3](https://user-images.githubusercontent.com/51746242/158077155-7ce818d8-9859-4e97-8695-6e4b60b7cdf2.png)

[2022-03-14 05:35] dr5hn commented on #412
@Sujon-Ahmed
Instead of drag and drop can you please try to upload via choose file and let me know the exact error with the screenshot?

[2022-03-15 12:24] FabienDrouin commented on #404
Hi @dr5hn ,

I guess the following [data](https://simplemaps.com/data/ie-cities) will be too exhaustive but all the data is there.
I would at least recommend to add the major cities as this [Wikipedia](https://en.wikipedia.org/wiki/List_of_cities,_boroughs_and_towns_in_the_Republic_of_Ireland).

Keep me posted :)

[2022-03-16 09:44] #412 closed

[2022-03-16 11:45] MostafaMobed commented on #406
@dr5hn Thanks

[2022-03-17 04:04] Shashi-GS commented on #385
@dr5hn ,
in our service it is not listing out these cities.
![image](https://user-images.githubusercontent.com/17082069/158734799-58f0ccfa-f3e4-4d2a-a7a8-deaf47ac37a7.png)

However, I tried in your site (https://dr5hn.github.io/countries-states-cities-database/) I am able to see that.
--
Thanks,
Shashi

[2022-03-17 04:08] Shashi-GS opened #415 "Malaga Australia suburb is missing."
@dr5hn ,

Could you please help me with the ticket : https://github.com/dr5hn/countries-states-cities-database/issues/385#issue-1120257661

one more sub urb is missing :

https://en.wikipedia.org/wiki/Malaga,_Western_Australia

As we are using this in production. Is it possible to give the changes sooner?

Thanks in Advance,
Shashi

[2022-03-17 05:03] dr5hn commented on #385
@Shashi-GS
![Screenshot 2022-03-17 at 10 32 49 AM](https://user-images.githubusercontent.com/6929121/158740705-5b3632b8-e72c-40e5-ae2f-96372447591d.png)

[2022-03-17 05:04] dr5hn commented on #415
@Shashi-GS Thanks for reporting. 🎉
I will add it ASAP.

Please read this:
![Screenshot 2022-03-17 at 10 32 49 AM](https://user-images.githubusercontent.com/6929121/158740807-5c4023f3-c947-4131-85e5-bb793c0a084f.png)

[2022-03-17 07:17] steminist-ua opened #416 "Missing a city in Ukraine"
Hi, thanks for this amazing library!

Kremenchuk city (Countries: Ukraine, States: Poltavska oblast) is missing.
But there is a city in the demo: https://dr5hn.github.io/countries-states-cities-database/

{"id": 149432,
  "name": "Kremenchuk",
  "state_id": 5071,
  "state_code": "53",
  "state_name": "Poltavska oblast",
  "country_id": 230,
  "country_code": "UA",
  "country_name": "Ukraine",
  "l

[2022-03-17 12:09] Shashi-GS commented on #385
Thanks for the response. But this issue is marked as closed. I thought it is deployed as a service already.  is my understanding is wrong?

[2022-03-20 09:52] dr5hn commented on #406
@MostafaMobed This has been fixed. 🎉

[2022-03-20 09:52] #406 closed

[2022-03-20 10:08] dr5hn commented on #385
@Shashi-GS Yes, since this is a DB repository and the Database issue has been resolved. I have marked it as closed.

Issues and deployments are separate things, On the decided deployment date whatever will be latest will be deployed directly on the production. Of course, it will contain your data so I don't need to keep a track of it anyway.

[2022-03-23 08:42] Baldoma opened #417 "Problem with "Get the list of cities in a state""
I want to view cities of "Province of Ravenna" in "Italy", but result is empty.
in cities.sql data may be correct, this is an example
(138403,'Faenza',1773,'45',107,'IT',44.29007000,11.87948000,'2019-10-06 01:09:32','2019-10-06 01:09:32',1,'Q989795')

this is my query
https://api.countrystatecity.in/v1/countries/it/states/ra/cities

[2022-03-23 12:00] neerajsharma-kiwi opened #418 "Flag are not coming on the new browser versions"
99.0.4844.82 chrome windows os flags are not rendered only the country abbreviation is coming.

[2022-03-23 12:06] dr5hn commented on #418
@neerajsharma-kiwi

I am on
<img width="383" alt="Screenshot 2022-03-23 at 5 35 36 PM" src="https://user-images.githubusercontent.com/6929121/159695241-42ad0b87-32f3-4e74-af79-c6f55a63fd2b.png">

and i can see the flags.
<img width="412" alt="Screenshot 2022-03-23 at 5 35 14 PM" src="https://user-images.githubusercontent.com/6929121/159695179-8a6ef39f-bf0c-49e2-85a7-5ae3c5afea35.png">

[2022-03-24 05:00] Shashi-GS opened #419 "Australia suburbs are missing!"
Could you please add these missing suburbs?
![image](https://user-images.githubusercontent.com/17082069/159845210-7317fde1-11ae-4bd5-8a93-c23f5dabf00d.png)

[2022-03-24 05:03] Shashi-GS commented on #419
@dr5hn , At least only this time, can you please deploy these changes ASAP? our customer escalated this issue very badly.

Thanks In Advance,
Shashi

[2022-03-27 15:55] greg-ynx commented on #337
Since recent events I would say that Macau and Hong Kong are **NOT** countries anymore. They were like "cities states" before but now they are administrative regions of the People's Republic of China. However, Taiwan is a country recognized by the UN. Check this out here : [ℹ️](https://en.wikipedia.org/wiki/List_of_sovereign_states)

[2022-03-28 07:08] dr5hn commented on #419
@Shashi-GS Sure, I will fix that by tomorrow and update the DB in live as well.

But only this time.

[2022-03-28 17:22] #418 closed

[2022-03-28 17:37] #415 closed

[2022-03-28 17:37] #419 closed

[2022-03-28 18:14] dr5hn commented on #416
@steminist-ua I've updated the API database to the latest.

[2022-03-31 09:00] bimaldave opened #422 "Thornhill - Ontario Missing"
Hi,

Thornhill, Ontario, Canada is missing:

https://en.wikipedia.org/wiki/Thornhill,_Ontario

[2022-04-01 13:05] boa86 opened #423 "Bug: Croatia "Karlovac County" and "Varaždin County" have wrongly the same state_code="05""
Hi,

Croatia "Karlovac County" and "Varaždin County" have the same state_code="05"
`{
                "id": 5069,
                "name": "Karlovac County",
                "state_code": "05",
                "latitude": "45.26133520",
                "longitude": "15.52542016",
                "type": null,
                "cities": []
            },`

`            {
                "id": 739,

[2022-04-02 10:47] dr5hn commented on #423
@boa86 Thanks for reporting. 🎉

I will fix that soon!

[2022-04-02 10:47] dr5hn commented on #422
@bimaldave Thanks for reporting. 🎉

I will add it soon!

[2022-04-02 10:49] dr5hn commented on #417
@Baldoma Thanks for reporting. 🎉

Currently, there are no cities attached to the "Province of Ravenna" in DB. I will add them soon and let you know.

[2022-04-04 13:04] miscany opened #426 "Fetch States by Country Name"
Is there a function to fetch all states by country name, rather than id? Would that be something you would like added if not?

[2022-04-07 14:48] younes-alouani opened #427 "Morocco States Mixed with cities"
Hey dear community,

I'm from Morocco, and I intend to use a database of cities and states of my Countries.
I tried this one, but I found out that many states in the states.csv are indeed cities and not states.
For exemple "Khouribga" is not a state but a city in the state of "Béni-Mellal".

[2022-04-13 13:20] burgodev opened #428 "Large cache on hml ambient"
Heys guys, we're having performance issues using this lib. I'mean, the lib is great but we are downloading a 17mb cache, is this normal or we are doing something wrong? Can u guys help us?

![cache country state city](https://user-images.githubusercontent.com/50026618/163189212-d5f9ad56-90b7-4c50-ba8d-4dae6cd467b0.png)
![console cuntry state city](https://user-images.githubusercontent.com/50026618

[2022-04-13 13:25] dr5hn commented on #428
@burgodev Wrong repo! I am only providing the data to that npm package you're using.

I am not the owner of the npm package you're using, please submit an issue here.
https://github.com/harpreetkhalsagtbit/country-state-city

[2022-04-13 13:25] #428 closed

[2022-04-17 00:34] abgrxenda opened #429 "Egypt City districts"
the country of Egypt is list correctly, however the district areas of the city is not correct at all
for instance the major two cities are Cairo & Alexandria,
Cairo is listing only three districts only one is correct the other wrong and about 7 or 8 are missing
City of Alexandria, only one District area is listed and it is wrong, around 12 are missing

[2022-04-17 12:36] bgabor1984 opened #430 "Hungarian states (counties) are mixed with big cities"
Hi,

I am Hungarian, so I would like to inform you Hungarian states (counties) list is mixed with Hungarian big cities in counties. For example: Miskolc is a city in Borsod-Abaúj-Zemplén county. Budapest which is the capital city of Hungary is part of Pest county.

The exact list of Hungarian states (counties) are:
Bács-Kiskun county
Baranya county
Békés county
Borsod-Abaúj-Zemplén county
Csongrád

[2022-04-20 07:22] jigarakatidus opened #431 "Incorrect ISO 3166-2 format of state codes"
Correct ISO format: `<CountryCode>-<Code>`. E.g. `IN-MH`

Format Stored: `<Code>`. E.g. `MH`

Correct format is referenced from here:
https://www.iso.org/obp/ui/#iso:code:3166:IN
https://www.iso.org/obp/ui/#iso:code:3166:GB
https://www.iso.org/obp/ui/#iso:code:3166:UG

When the State Code is Numeric **it may** conflict with the Primary ID when **searching for a state by ID or Code**.

[2022-04-21 07:55] dr5hn commented on #431
@jigarakatidus Thanks for reporting. 🎉

I agree with you, Will fix them ASAP.

[2022-04-21 08:11] jigarakatidus commented on #431
This might be breaking change for those consuming APIs, so take care.  :)

Keep up the good work. Thanks.

[2022-04-21 08:19] dr5hn commented on #431
@jigarakatidus Thanks for the heads up!

Indeed a breaking change, but I was thinking of just adding another column of data for this. For those who want to consume this way.

[2022-04-21 08:31] jigarakatidus commented on #431
That also works. But I would suggest to keep file size low and avoid duplication as this is getting distributed. :)

Currently, we are consuming the data only from CSV. So before adding to our DB, we just concatenate CountryCode-StateCode. This works for us. This issue is not burning in a way.

So probably, a newer **major** version can be released with a breaking change. Just to be in sync with t

[2022-04-22 06:09] dschinkel opened #432 "Change Dialect to Postgres"
I can't run this for a Postgres DB.  Any ideas on how to transform this to Postgres Dialect so that I can run the `.sql`?

[2022-04-24 05:53] dschinkel commented on #210
@[johannww](https://github.com/johannww)
You save me a TON of work, thanks a TON.

[2022-04-27 01:23] rmsmani opened #433 "Lat Long information is incorrect"
HI Team

I have checked the Lat long for few cities but the information which is given in this package seems to be incorrect.

Information from this package is

`
{
 "name": "Salem",
  "state_code": "TN",
  "country_code": "IN",
  "latitude": "11.69000000",
  "longitude": "78.29000000",
 }
`
Based on the above lat long, it goes to different place.
`But for the same location, the lat long from goog

[2022-04-27 11:33] AykutBuyukkaya commented on #432
@dschinkel
Hi, I encountered the same problem when I started to work with this data. One solution is to insert those data to a MYSQL database and then migrate the database to Postgres using tools like pgloader. I couldn't do that, however. I encountered some errors due to my postgres version. Another solution is you can create a JSON reader for your project and parse the given JSON data and it is

[2022-04-28 13:24] kelbixgroup opened #434 "Request for API"
Support,

We did apply to request for your API. could you please give us access to your api?

Your api will be integrated into our custom php system on this subdomain: https://www.securedgateway.kelbix.co.za/

Regards.
Thanks
Adeshina

[2022-04-29 06:59] dr5hn commented on #434
Hi Ardeshina,

Can you please tell me which email you put in the form while Requesting an API?
https://countrystatecity.in/request/

These are the requests we received from 22nd April to 25th April.
<img width="378" alt="Screenshot 2022-04-29 at 12 24 12 PM" src="https://user-images.githubusercontent.com/6929121/165898189-76c4753a-05c0-4760-83e8-a7ee1564ca58.png">

Kind Regards,
Darshan Gada

[2022-04-29 10:03] kelbixgroup commented on #434
Dear Darshan,

Our email is not on the list.

There should be either on the list:
[systech44@gmail.com](mailto:systech44@gmail.com)
[admin@kelbix.co.za](mailto:admin@kelbix.co.za)

Moreso, we have requested again now with [admin@kelbix.co.za](mailto:admin@kelbix.co.za)
![5555](https://user-images.githubusercontent.com/1221749/165924564-8887601e-f3c1-418c-8919-d06994616311.png)

[2022-04-29 19:24] kelbixgroup commented on #434
thanks for your support. Regards.

[2022-04-29 19:24] #434 closed

[2022-05-01 08:41] KaneCohen opened #435 "Netherlands municipality duplicates"
Hi, similar to how there were some duplicate "municipality" cities in #396 - there is a number of "Gemeente" cities for Netherlands. For example

Gemeente Amsterdam
Amsterdam

Gemeente Heerde
Heerde

and so on.

[2022-05-01 20:36] qxygene commented on #166
When you are planning to contribute?

[2022-05-02 03:33] Iracheta18 opened #437 "Nuevo León, México cities outdated"
Hi, I realized that the cities of the state of Nuevo Leon in Mexico are a bit oudated, there're some large areas that are listed as cities and there a cities that are missing, some examples:

Jardines de la Silla (Jardines) is an area inside of the city of Guadalupe.
Apodaca, one of the largest cities is missing from the list.

I would appreciate if you could update them.

Thank you, Hugo Iracheta

[2022-05-03 10:48] dr5hn opened #438 "For U.S. Virgin Islands - cities not fetching ??"
### Discussed in https://github.com/dr5hn/countries-states-cities-database/discussions/436

<div type='discussions-op-text'>

<sup>Originally posted by **kcmobile** May  1, 2022</sup>
I try to fetch Cities of **US Virgin Island** but the library said it is **_not there any cities found_**.

But when I **google** it, It shows 20 approx cities!

Please fix these **ASAP**.
</div>

[2022-05-03 10:49] dr5hn commented on #437
@Iracheta18 Thanks for reporting. 🎉

Will take a look at it soon!

[2022-05-03 10:50] dr5hn commented on #435
@KaneCohen Thanks for reporting. 👍🏼

I will try to fix them soon.

[2022-05-03 10:50] dr5hn commented on #438
@kcmobile Thanks for reporting. 🎉

I will take a look at it soon!

[2022-05-04 13:37] Moomoo14 opened #439 "For Mauritania - Nouakchott is a state but a city also"
Nouakchott is a state and a city for mauritania.
it has 3 sub regions.
isssue: when i query the list of cities in maurtania Nouakchottt does not appear, but it appears on the State/province level

[2022-05-08 12:38] #416 closed

[2022-05-08 15:16] dr5hn commented on #427
@younes-alouani According to this source it looks correct to me.
https://www.iso.org/obp/ui/#iso:code:3166:MA

Subdivisions
13 prefecture (en) / préfecture (fr) / ‘amālah (ar)
62 province (en) / province (fr) / iqlīm (ar)
12 region (en) / région (fr) / jihāt (ar)

I understand your concern, In this DB we're maintaining only 3 relationships and hence you see Regions and provinces mixed up in the st

[2022-05-08 16:10] dr5hn commented on #430
@bgabor1984 Thanks for reporting. 🎉

However, I grab the data from the Official ISO website and it has mentioned all of them on the same level. https://www.iso.org/obp/ui/#iso:code:3166:HU

Also, some city has a county right.

Can you please check and let me know.

[2022-05-08 16:12] dr5hn commented on #433
@rmsmani Thanks for reporting. 🎉

I will fix this up. But if you find any other city with incorrect lat and long, please feel free to raise a issue.

[2022-05-08 17:42] #426 closed

[2022-05-08 19:06] dr5hn commented on #439
@Moomoo14 As per wikipedia Nouakchott is divided in to 3 subregions.
Nouakchott-Ouest
Nouakchott-Nord
Nouakchott-Sud

So under which region do you want Nouakchott city available?

[2022-05-08 19:21] dr5hn commented on #429
@abgrxenda Fixed in #440

[2022-05-09 05:32] #380 closed

[2022-05-09 05:32] #417 closed

[2022-05-09 05:32] #422 closed

[2022-05-09 05:32] #423 closed

[2022-05-09 05:32] #438 closed

[2022-05-09 05:32] #427 closed

[2022-05-09 05:32] #429 closed

[2022-05-09 05:32] #430 closed

[2022-05-09 05:32] #433 closed

[2022-05-09 05:32] #435 closed

[2022-05-09 05:32] #437 closed

[2022-05-09 05:32] #439 closed

[2022-05-09 05:33] dr5hn commented on #439
@Moomoo14 Have added missing cities/towns to Nouakchott-Ouest, Nouakchott-Nord & Nouakchott-Sud

[2022-05-09 05:36] dr5hn commented on #437
@Iracheta18 Have updated the Nuevo Leon cities, please feel free to open a separate issue, if you find any more states having missing cities.

[2022-05-09 05:37] dr5hn commented on #435
@KaneCohen I have removed all duplicate cities starting with "Gemeente". Please feel free to reopen this ticket if the issue still persists.

[2022-05-09 05:38] dr5hn commented on #433
@rmsmani I've fixed the Lat long information for Salem, Tamilnadu. Please feel free to open a new ticket if you find any more issues.

[2022-05-09 05:40] dr5hn commented on #430
@bgabor1984 I have added one missing county to the Hungry. Also please feel free to re-open this ticket if you've got the reply to my previous comment.

[2022-05-09 05:41] dr5hn commented on #429
@abgrxenda I have added missing districts to Cairo and Alexandria. Please check and let me know.

Feel free to reopen this ticket if issue still persist.

[2022-05-09 05:42] dr5hn commented on #427
@younes-alouani To be more precise I have updated the `type` column under the states table to segregate the types among the states.

[2022-05-09 05:44] dr5hn commented on #438
@kcmobile I have added missing states and cities to US Virgin Island. Please check.

[2022-05-09 05:44] dr5hn commented on #423
@boa86 I have fixed the state_code of Karlovac County.

[2022-05-09 05:45] dr5hn commented on #422
@bimaldave Have added the missing Thornhill to Ontario.

[2022-05-09 05:45] dr5hn commented on #417
@Baldoma Have added missing cities to "Province of Ravenna".

[2022-05-09 06:22] dr5hn commented on #364
Done. Updated. https://github.com/dr5hn/countries-states-cities-database/blob/master/.github/CONTRIBUTING.md

[2022-05-09 06:22] #364 closed

[2022-05-10 01:53] abdullahmasulili opened #442 "Missing Cities in Kalimantan Barat (iso2: KA)"
No Cities Found

[2022-05-10 16:57] Seration opened #443 "Turkey States"
There is no state system in Turkey

So the state results in the data are the cities of Turkey.
The cities in the data are the towns of the cities.

It would be great if you can fix it

[2022-05-11 12:38] dr5hn commented on #442
@abdullahmasulili Thanks for reporting. 🎉

I will take a look at it soon.

[2022-05-11 12:41] dr5hn commented on #443
@Seration I see there's a province system. Usually, I follow the official site for the data update. https://www.iso.org/obp/ui/#iso:code:3166:TR

Just FYI, All provinces will go within the state table and only 3 level structure is maintained.

Please check and let me know.

[2022-05-11 18:38] joaorb64 opened #444 "Translations mapping"
Currently, translations to `Brazilian Portuguese` are being mapped to `br`. Usually, when dealing with locales, the locale `pt-BR` is used instead. Shall this be changed?
I can work on a PR if approved! But I do not know if that's the case for any of the other translations.

[2022-05-12 01:45] abdullahmasulili commented on #442
@dr5hn thanks in advance 🎉

[2022-05-14 04:46] AKjat opened #445 "Flag Issue"
Earlier flag was shown, but now it is showing flag code like ("IN"),("US") instead of flag image

[2022-05-15 18:57] joostvanhoof opened #446 "Emojis now show ?? instead of the country flag"
Looks like in all formats the emoji flags (🇮🇳) now have the '??' value instead of the emoji.

[2022-05-19 07:00] tjaoc commented on #243
@dr5hn how time uprade this?

[2022-05-19 07:21] dr5hn commented on #243
@tjaoc Sorry, I literally missed this.
Can you please share a reason of removing them?

https://www.iso.org/obp/ui/#iso:code:3166:ES

[2022-05-21 16:14] dr5hn commented on #444
@joaorb64 yes, please go ahead.

[2022-05-21 16:26] dr5hn commented on #446
@joostvanhoof Fixed in #447

[2022-05-21 16:26] dr5hn commented on #445
@AKjat Fixed in #447

[2022-05-21 16:26] #445 closed

[2022-05-21 16:26] #446 closed

[2022-05-21 16:33] #442 closed

[2022-05-25 06:09] jaychandrak opened #450 "Its great library but why its size is 52 MB with unpackaged. It will impact the initial page load performance. Any suggestion or solution to minimize it"

[2022-05-25 06:40] dr5hn commented on #450
@jaychandrak Wrong repository. I am not the owner of the NPM package.
You can raise the issue here. https://github.com/harpreetkhalsagtbit/country-state-city

[2022-05-25 06:40] #450 closed

[2022-05-27 12:29] kilianso commented on #365
That's an interesting discussion. What about creating a simple app that is using the [Github Pull API](https://docs.github.com/en/rest/pulls)?

[2022-05-27 16:52] rokrokos opened #452 "UK"

[2022-05-27 21:44] NadeemAraman opened #453 "Relate States with Timezones"
### Discussed in https://github.com/dr5hn/countries-states-cities-database/discussions/451

<div type='discussions-op-text'>

<sup>Originally posted by **NadeemAraman** May 27, 2022</sup>
Dear dr5hn , first of all thank you for this wonderful api , second is there anyway that i can bring up or get the time zone of a specific state/city ? i'm saying this because for example russia has more than 8 d

[2022-05-28 08:15] dr5hn commented on #453
@NadeemAraman Nope, not at the moment.

[2022-05-28 08:20] dr5hn commented on #452
@rokrokos is Already being raised as an issue. I think the issue relates to fixing up these first.
#290
#168
#227

[2022-05-29 09:25] NadeemAraman commented on #453
Okay thanks .

[2022-05-29 09:25] #453 closed

[2022-05-31 07:01] dr5hn commented on #452
@rokrokos Because it requires a restructuring of the whole country, state and city. Might take another 6 months to fix it.

Just FYI, this database took me 4 years to build it.

Many companies use this DB in production.

[2022-05-31 07:28] rokrokos commented on #452
Thanks, all great  - thank you for your work.

But anyway - how do companies use this DB in production? Do they let all Londons (for example) in a list? I am not complaining - I am seriously asking. Any tips?

[2022-05-31 08:10] rokrokos commented on #452
You have a great DB, so close... it's really sad that because 1/4 of wrong data or incorrectly sorted it's almost useless in production (for example worldwide social networks, webshops).

Italy, Croatia, Slovenia, ... all have a lot of problems.

What if you divide the work among us - for example - I am from Slovenia, and I can make a complete DB of Slovenian states/cities in a week or so.

1) By

[2022-06-03 19:09] dennisteambrandit opened #455 "bundle size is large"
have issues with large bundle size (about 2mb from just city/country/state data). when looking at bundle chunk, every city/country/state is being saved in the chunk even when i am only trying to import retrieve one country.

import {Country, State, City} from 'country-state-city';
const allCountries = Country.getCountryByCode('US')

[2022-06-03 19:10] #455 closed

[2022-06-08 03:29] Moomoo14 commented on #439
this is used in the formal manner , per reality the city is just Nouakchott with is sub region and all the other district are just called Nouakchott. it might make more sense to have one city and all of the sub regions in it.

[2022-06-13 09:16] MaybeThisIsRu opened #456 "Dominican Republic has three area (phone) codes"
https://www.howtocallabroad.com/dominican-republic/ lists:

Currently the database includes `1809` and `1829`. It should also include `1849` for the `phone_code` key.

[2022-06-13 09:17] MaybeThisIsRu commented on #432
My solution isn't very general so I can't share it here, but I wrote a Django management command to take the JSON files as the input (instead of SQL), and create a new table row for each JSON entity.

[2022-06-13 09:24] #456 closed

[2022-06-13 09:26] MaybeThisIsRu opened #457 "For countries, `phone_code` sometimes include area code and sometimes does not."
For example, for the US, the phone code is `1` which is correct if we consider **country codes**.

For the [Dominican Republic](https://www.howtocallabroad.com/dominican-republic/), the phone code in the `countries-states-cities-database` is listed as `1809 and 1829` which is correct if we consider **country+area codes**. Country code being `1` and area codes being `809` and `829` (and also `849`,

[2022-06-17 05:47] dr5hn commented on #452
@rokrokos

Yes, I know it's of no use for some people.

I will be happier if you can contribute towards making "Slovenia" more accurate.

I have a plan to add zip codes / postal codes in near future. I am just finding for the correct source of data.

About this issue, "Dravlje District" -> "Dravlje"
Yes, I am trying to fix it all one by one.

[2022-06-17 05:52] dr5hn commented on #457
@MaybeThisIsRu Thanks for reporting. 🎉

This column is messed up actually, Previously I took data from this resource https://restcountries.com/v2/all

They've updated the calling codes to be more accurate now. So I will soon update them as per the new version. https://restcountries.com/v3.1/all

[2022-06-17 05:58] dr5hn commented on #432
@MaybeThisIsRu @AykutBuyukkaya @dschinkel I found a good source that can make your work easier, it works for most fields. But not for some.

https://sqlizer.io/

[2022-06-17 05:58] dr5hn commented on #210
I found a good source that can make your work easier, it works for most fields. But not for some.

https://sqlizer.io/

[2022-06-17 06:00] dr5hn commented on #432
Duplicate of #210

[2022-06-17 06:00] #432 closed

[2022-06-18 05:50] dschinkel opened #458 "Cologne, Germany and some other major cities missing?"
I can't find this city.  It's one of the largest cities Germany which surprises me that it's not in the cities table.

When I search for it, I find the following only:

[Cologne, Germany](https://en.wikipedia.org/wiki/Cologne) - the largest city of German western [state](https://en.wikipedia.org/wiki/States_of_Germany) of [North Rhine-Westphalia](https://en.wikipedia.org/wiki/North_Rhine-Westphali

[2022-06-18 06:07] dschinkel commented on #458
More missing data:

|  cityName  |  cityId  |  stateId  |  stateName  |  countryId  |  countryName |
|----------|-------------|------|-----|-----|-----|
| Heraklion | ??? | ??? | Create | 233 | United States | Gambia

 -

[2022-06-20 06:43] deanthinker opened #459 "coordinates issues"
Hi, Thanks for all the efforts you put into this projects along with great generousity of sharing it with everyone.
I recently found an issue with the accuracy of the coordinates in the states table.
For instance, in states table ID 2258 (Hunan) the coordinates it points to a resturant named 'Hunan ... resturant' in the US. I think there must be some other coordinates issue similar to this.

Thank

[2022-06-20 07:19] dr5hn commented on #459
@deanthinker Thanks for reporting. Will fix them soon.

[2022-06-25 07:11] dschinkel commented on #458
Can I get a response from someone maintaining this project?

[2022-06-25 07:43] dschinkel commented on #458
Cologne resolved, listed as `Köln`.  But still stuck on `Heraklion`

[2022-06-25 07:45] #458 closed

[2022-06-28 10:17] fasenderos opened #461 "[QUESTION] are provinces supported by this db ?"
Hi, first of all thanks for this great resource.

Are the provinces supported by this db? It seems to be true from the description of this repo "World countries, states, regions, **provinces**, cities, towns ... ", but not from the demo.

E.g. `Avigliana` is in province of `Torino` and I'm expected this information in something like `"province_name": "Torino"`, or I'm missing something?

![image](

[2022-07-02 11:42] dr5hn commented on #461
@fasenderos Nope, not yet. Only 3 level structure is being followed. I believe the `province` level which you're expecting is within 3rd level only (i.e. Cities)

[2022-07-07 10:07] banChakri opened #464 "New Jersey: Hillsborough and Montgomery are not showing on the City List but Somerset County is"
Please review and update the changes in the cities in US.

[2022-07-11 06:50] muthukumarAirline opened #465 "I am unable to get cities for UK. I am using City.getCitiesOfState(countryCode, stateCode) method to get a city."

[2022-07-11 07:25] dr5hn commented on #465
@muthukumarAirline You've raised the issue on the wrong repository. The npm package you're using is owned by someone else. Please re-raise your issue here. https://github.com/harpreetkhalsagtbit/country-state-city

[2022-07-11 07:25] #465 closed

[2022-07-13 16:25] SHSP-MichaelCrawford commented on #168
I have a similar issue that is brought up in this thread. For the UK, you currently have a mix of Non-Metropolitan Counties, Metropolitan **Districts**, and the Boroughs of London. Our customers are reaching out because they expect to be able to use Non-Metropolitan Counties, Metropolitan Counties, and Greater London. Would it be possible to add in the options Merseyside, Greater Manshester, South

[2022-07-14 07:44] joaorb64 opened #466 "State/City name normalization"
Hi,

I was wondering if there's a standard for city name language.

If I check the states in Brazil, the Federal District is identified by its name in Portuguese, Distrito Federal.

Now, if I check Portugal, the capital Lisbon is identified by its English name Lisbon instead of the Portuguese Lisboa.

I was wondering what would be the better way of settling a standard: adding localization to state

[2022-07-14 19:00] #444 closed

[2022-07-27 18:12] Michaud2 opened #469 "N'Djamena missing as a city?"
Hi,

I'm new to Github and also to your project, so I don't know if it was worth an "issue" statement, but I think N'Djamena (Chad's capital) is not considered a city in the files. It is clearly identified as the capital of Chad and also as a state in the countries+states+cities file, but it doesn't show up at all in the cities file (neither by using the Wikidata object code Q3659 for search).

Ev

[2022-07-27 20:05] akshaymathur05 opened #470 "Hong Kong cities missing"
Hi. I was looking for cities in Hong Kong, but they are not available in the 'cities.csv' file. I also tried looking for it using country and state id's but couldn't find it.

Would it be possible to get those added?

[2022-07-28 17:32] 5ylvino opened #471 "The restful api not display the coordinates attached"
Is there a proper way of call the api to display the full details on each country down to their are coordinates, which is very important to me along their names?

##currently from restful api
[code]

##expected
[code]

[2022-07-28 17:37] 5ylvino commented on #471
i guess i have seen it that i have to call them individual to get the detail afterwards. Thanks

[2022-07-28 17:47] 5ylvino commented on #471
I discovered that of the city details on coordinates are not display and there is no sample on how to get it on the doc

[2022-07-29 06:09] dr5hn commented on #471
@5ylvino Yes, you're correct that I am not showing coordinates on city API. For 2 reasons
1. Since cities request spits a lot of data, so to make it lightweight have only added basic info to API.
2. Reason I have not added city details API is people start leeching the data making server hung up!

Even if I add it in near future, I will make that route paid.

[2022-08-11 09:31] mthomasson opened #473 "France No link between city and state databases"
In the cities DB, "regions" are defined as states, but in the states database the subdivision of "regions" (departement) is defined, so there is no link between cities and states

[2022-08-13 01:34] icopp commented on #337
I feel like the best thing to do here would be to follow the lead of ISO, which for country code uses deprecation warnings (but doesn't remove from the dataset) for countries/states that no longer exist at all, and uses an `independent` flag for cases where an entity is no longer self-governed but still has an ISO code assigned to it.

[2022-08-13 16:03] jcalfee commented on #337
I know of a few other cases that are privately known but publicly unknown.  In our case, private research revels a lessor known truth that often has overwhelming evidence a jurisdiction is different that what the public material out there says it is.  That was a bit unsettling at first, but totally normal to me now (like, I tend not to use shout caps anymore lol).  I feel like I have gone a bit mo

[2022-08-16 07:34] #471 closed

[2022-08-21 02:58] wuqinqiang opened #474 "it is HangZhou not HongZhou in China"
I noticed that HongZhou in countriesCities.json，there is no city named HongZhou in China, just HangZhou

[2022-08-22 05:22] ravichaurasia2021 opened #475 "Bangladesh Cities missing"
Hello

When I selected the country Bangladesh in the right side showed a State list but when I select some State but City list show me not found the city. so please update database because some customer-facing this issues

[2022-08-22 08:42] abdullahjavaid86 opened #476 "Some stateCodes are wrong in cities.json"
I selected Bicol Region of Philippines, the stateCode of the region is "05" but City.getCitiesOfState returns empty array as the cities of this region has "ALB" as their stateCode.

[2022-08-22 18:40] yangar opened #477 "WikiData Id is missing for States"
WikiData Id is missing for States (json, xml, yaml, csv)
It is in the SQL files

[2022-08-23 13:22] japajala opened #478 "A whole region of Finland is missing with the third largest city in the country: Tampere"
A whole region of Finland is missing, see map screenshot attached. This would be in the Pirkanmaa province with the third largest city in the country: Tampere, and the city of Nokia famous from the late cell phone company Nokia. I would not find any of the smaller cities in the region either.

![Screen Shot 2022-08-23 at 8 15 11 AM](https://user-images.githubusercontent.com/70453169/186168041-cc6e

[2022-08-23 13:29] japajala commented on #478
Wikidata: https://www.wikidata.org/wiki/Q40840

[2022-08-24 11:34] miaosun opened #479 "Translation for States and Cities"
Hi, I noticed that we have "translations" entry for Countries names, however we don't have that for States and Cities.
Will the translations be added in the future? Is there any easy way each one of us can help to make that happen by adding corresponding translations of the States and Cities in our native languages?

![201661339510_ pic](https://user-images.githubusercontent.com/7039941/186408104-

[2022-08-25 13:44] meleksioua opened #480 "Nabeul state missing in Tunisia country"
Hi. I was looking for states in Tunisia country, but I did not find the state of Nabeul
Would it be possible to add it?

[2022-08-27 14:41] dr5hn commented on #228
@pawanlapits Fixed in #481

[2022-08-28 04:30] #228 closed

[2022-08-28 04:41] #211 closed

[2022-08-29 06:36] mr-new-0509 opened #485 "How to use "country-state-city" module in typescript"
Hello, there.
Am faced a problem. Can't use "country-state-city" module in typescript?
I tried this command to use it but faced this error.
![image](https://user-images.githubusercontent.com/86947718/187138079-2ac8d630-3f78-470a-ad2c-33a79ec4f7bb.png)

Could you let me know the solution?
Thank you.

[2022-08-29 08:13] #209 closed

[2022-08-29 08:14] dr5hn commented on #209
@tjaoc Finally got a chance to fix this. 🥂

[2022-08-29 08:32] dr5hn commented on #243
@tjaoc This has been actioned. Please review.

[2022-08-29 08:32] #243 closed

[2022-08-29 08:33] dr5hn commented on #485
@mr-new-0509 Wrong repo for the issue, I am not the owner of this NPM package.

You should be posting this to https://github.com/harpreetkhalsagtbit/country-state-city

[2022-08-29 08:33] #485 closed

[2022-08-29 08:34] dr5hn commented on #477
@yangar Thanks for reporting. Will check and fix it soon.

[2022-08-29 10:39] abhi-bigstep opened #487 "issue with Ts declaration of the country-state-city module"
![Screenshot (97)](https://user-images.githubusercontent.com/98146057/187183237-a900ba65-5e13-46d1-82a5-c3d4ac6252fc.png)
please resolve it just by declaring the type of module, till then we can use require for importing its functionalities.

[2022-08-29 11:53] dr5hn commented on #487
@abhi-bigstep Wrong repo for the issue, I am not the owner of this NPM package.

You should be posting this to [harpreetkhalsagtbit/country-state-city](https://github.com/harpreetkhalsagtbit/country-state-city)

[2022-08-29 11:53] #487 closed

[2022-08-31 08:38] dr5hn commented on #477
@yangar Checked, Purposely not added to make a JSON a little lightweight.

[2022-08-31 10:16] dr5hn commented on #476
@abdullahjavaid86 Thanks for putting this up. Actually, I want to remove the regions at all from the Philippines and distribute the cities attached to regions among the provinces.

As per,
https://www.iso.org/obp/ui/#iso:code:3166:PH

ALB is correctly assigned to a province named "Albay" which comes under Region "Bicol" (05).

PH-05 has many provinces inside it and you will be able to find cities

[2022-08-31 11:06] dr5hn commented on #459
@deanthinker Thanks for reporting. This has been fixed now.

Let me know if you find any other states with the same issue.

[2022-08-31 11:06] dr5hn commented on #478
@japajala Thanks for reporting. Have updated the all cities of the whole "Pirkanmaa" region.

[2022-08-31 11:07] dr5hn commented on #464
@banChakri Thanks for reporting. I have added them.

[2022-08-31 11:07] dr5hn commented on #469
@Michaud2 Thanks for reporting. Have added N'Djamena as a city.

[2022-08-31 11:07] dr5hn commented on #480
@meleksioua Thanks for reporting.

Have added missing state "Nabeul" with its belonging cities.

[2022-08-31 11:08] #459 closed

[2022-08-31 11:08] #469 closed

[2022-08-31 11:08] #474 closed

[2022-08-31 11:08] #464 closed

[2022-08-31 11:08] #478 closed

[2022-08-31 11:10] dr5hn commented on #474
@wuqinqiang Thanks for reporting. I found that Hangzhou exists so have removed the HongZhou from the cities table.

[2022-08-31 11:15] #103 closed

[2022-08-31 11:21] dr5hn commented on #461
@fasenderos I was wrong. Provinces are specified within States table.

It's messed up actually, region and provinces are on the same level. I need to actually get rid of regions completely from states table and distribute the cities of those region among provinces.

Requires lots of manual work. Arghh..

Have you got any JSON or SQL source of data for Italy which has cities attached to provinces?

[2022-08-31 11:26] dr5hn commented on #461
@fasenderos I think i found one. https://raw.githubusercontent.com/lfbellante/package-laravel-italy/main/database/storage/comuni.json

Can you please let me know if this is correct source of information?

[2022-08-31 11:33] braaar commented on #207
I probably won't be working on this, so feel free, anyone :)

[2022-09-01 02:11] balbuena opened #491 "Missing city in country MX state COL"
{
  "id":,
  "name": "Manzanillo",
  "state_id": 3472,
  "state_code": "COL",
  "state_name": "Colima",
  "country_id": 142,
  "country_code": "MX",
  "country_name": "Mexico",
  "latitude": "19.2719444°",
  "longitude": "-104.31583055",
  "wikiDataId": "Q739908"
}

[2022-09-05 11:11] HalilAlgan opened #494 "importing cities.json in mysql database"
Hello, i try to import cities.json file in my mysql db and it doesnt give errors but also not happening. I imported states.json and cities.json they worked. I also tried to import cities.csv and thet didnt work either. I tried cities.sql but foreign keys gave errors.

[2022-09-05 11:26] dr5hn commented on #494
You should be importing `world.sql` instead of one by one.

[2022-09-09 16:15] pearcircuitmike opened #496 "Any way to select city details by city id vs country code + state code?"
I want to get the country that each city is in from the "list all cities" functionality. What's the best way to do this? Due to some ssr limitations, I need to determine which country each city is in by the id passing the country and state codes into each city's page and then fetching the city details from that. Thanks!

[2022-09-09 16:15] pearcircuitmike commented on #496
I should add I'm working via the API

[2022-09-10 14:14] #494 closed

[2022-09-10 14:14] dr5hn commented on #491
@balbuena Ok will add it soon.

[2022-09-10 14:15] dr5hn commented on #479
@miaosun Thanks for the suggestion. Will try to add them. No ETA Please.

[2022-09-14 10:44] joaorb64 commented on #479
This is highly related to https://github.com/dr5hn/countries-states-cities-database/issues/466. Maybe by default everything should be in English (i.e. "Lisbon") but have a translation key ("pt": "Lisboa"). Same for the so common federal districts, etc.

[2022-09-18 23:37] ionecum opened #500 "City names are incorrect in Italy and I found duplicate data in Mexico"
Some Italian "states" are, in reality, "boroughs". This makes that some cities are duplicated.

For example this
{
                        "id": 137775,
                        "name": "Città metropolitana di Milano",
                        "latitude": "45.45186000",
                        "longitude": "9.14586000"
},

and this, which is not mentioned as a state, but as a city of Lombardy
{

[2022-09-22 00:19] JamoCA opened #501 "Support for Microsoft SQL Server?"
Are there any plans to generate SQL files to support importing the data into Microsoft SQL Server?

I compared the SQL data with the CSV file and would prefer to use the SQL files since they contain more complete data.

If not, is there a MSSQL schema that can be provided so that tables with the best datatypes + length can be created prior to bulk importing the CSV data? (The column names for SQL

[2022-09-23 16:24] SilverBull commented on #501
You just have to convert it with the correct syntax / type and collation you want.
[code]

[2022-09-23 17:11] JamoCA commented on #501
Thanks. It's primarily the same for table creation, but the rest of the SQL (after table creation) that performs the inserting doesn't work with MSSQL.

If these instructions were intended to be used with the CSV file, the CSV file doesn't contain `translations`, `flag` or `wikiDataId` columns and would be `NULL`. I guess I could consume the JSON file with an application and manually update the co

[2022-09-23 17:18] SilverBull commented on #501
Well I eventually created the tables on a mysql and then copied the data to the mssql db after creating the tables by converting the create statement. I guess in the end it just comes down to the most practical method for everyone

[2022-09-26 06:09] lloydiexp opened #505 "Philippines"

[2022-09-26 06:09] #505 closed

[2022-09-26 06:09] lloydiexp commented on #505
Wrong issue

[2022-09-27 11:28] joaorb64 opened #506 "Fetch details from OpenStreetMaps"
Hi, this is only a suggestion. I recently found out about this API and thought it could be used to help with some kind of automation, especially for latlng and translations: https://nominatim.openstreetmap.org/ui/search.html
Would this be useful? What kind of information could/should be fetched from it?

[2022-09-28 14:04] thenaazimkhan opened #507 "duplicate cities for Saudi arabia"
when calling City.getCountryByCode(countryCode) // countryCode = 'SA'
this is given duplicate cities for Saudi Arabia.

![WhatsApp Image 2022-09-28 at 6 03 40 PM](https://user-images.githubusercontent.com/95960950/192799875-b2b9235a-df7a-4347-8bd1-577e793e2187.jpeg)

[2022-10-03 08:11] sergio-ob commented on #496
Hey! Any update on this? I don't know how to get city details :(

[2022-10-03 11:11] dr5hn commented on #496
@pearcircuitmike //cc @sergio-ob
This API Route is still on my TO-DO list. No ETA Please.

[2022-10-04 17:13] dr5hn commented on #507
Hi @thenaazimkhan,

Thanks for reporting. 👍🏼 I will fix it ASAP.

[2022-10-04 17:15] dr5hn commented on #506
@joaorb64 Thanks for the suggestion. However, I've reviewed the URL but unfortunately is of no use.

[2022-10-04 17:15] #506 closed

[2022-10-04 17:26] dr5hn commented on #470
Hi @akshaymathur05,

Thanks for reporting. Do you have any sources of information about Hongkong Cities?

[2022-10-05 16:00] adityapandey100 opened #516 "States are not in order"
In all cases states are not in proper alphabetical order. We need to change their id as in alphabetical order.
Thank you

[2022-10-06 06:48] dr5hn commented on #516
@adityapandey100
You can do that part on your code side as well! As this DB is used by many people across the world it can be a breaking change and can break the production site.

Doesn't make sense to me!

Cheers 🥂

[2022-10-06 06:48] #516 closed

[2022-10-07 12:06] HashirLabs opened #520 "Sub localities within cities are added as cities"
First of all, highly appreciate the efforts to build this data set.

There are too many occurrences of sub localities (which are areas within City) of cities/districts/metropolitan regions presented as City in Cities database, which is like cities within city

Here is an excerpt (some entries ) that are sub localities of Mumbai city, however represented as city within Maharashtra State.
Also notic